footer
	div(class="container")
		div(class="line")
		div(class="row")
			div(class="col-row")
				div(class="form-subscribe")
					p Подпишись на анонсы материалов
					div(class="input")
						input(placeholder="E-mail")
						img(src="/images/arrow2.png")

			div(class="col-row")

			div(class="col-row")
				ul(class="menu")
					li 
						a(href="#") О НАС

					li 
						a(href="#") Авторы

					li 
						a(href="#") АРХИВ

					li 
						a(href="#") НАШИ ПАРТНЕРЫ

					li 
						a(href="#") Правила перепечатки материалов

					li 
						a(href="#") Пользовательское соглашение 

					li 
						a(href="#") ВАКАНСИИ

					li 
						a(href="#") Контакты

		div(class="footer-info")
			div(class="footer-info__left")
				a(href="#" class="btn btn-color-red") Поддержать проект

				ul(class="social-links") 
					li 
						a(href="#") yandex.zen
					li
						a(href="#") TELEGRAM
					li
						a(href="#") YOUTuBE
					li
						a(href="#") rutube
					li
						a(href="#") VK


			div(class="footer-info__right")
				ul(class="phone-links") 
					li 
						a(href="#") +7 (495) 567-67-78
					li 
						a(href="#") savyatie.online@bk.ru