footer
	div(class="container")
		div(class="line")
		div(class="row")
			div(class="col-row")
				div(class="form-subscribe")
					p Подпишись на анонсы материалов
					form
						div(class="input")
							input(placeholder="E-mail")
							button
								svg 
									use(xlink:href="#arrow-small")

			div(class="col-row")

			div(class="col-row")
				ul(class="menu")
					li 
						a(href="#") О НАС

					li 
						a(href="#") Авторы

					li 
						a(href="#") АРХИВ

					li 
						a(href="#") НАШИ ПАРТНЕРЫ

					li 
						a(href="#") Правила перепечатки материалов

					li 
						a(href="#") Пользовательское соглашение 

					li 
						a(href="#") ВАКАНСИИ

					li 
						a(href="#") Контакты

		div(class="footer-info")
			div(class="footer-info__left")
				a(href="#" class="btn btn-color-red") Поддержать проект

				ul(class="social-links") 
					li 
						a(href="#") 
							| yandex.zen
							svg
								use(xlink:href="#social-dzen")

					li
						a(href="#")
							| Telegram 
							svg
								use(xlink:href="#social-telegram")
					li
						a(href="#")
							| YouTube
							svg
								use(xlink:href="#social-youtube")

					li
						a(href="#")
							| Rutube 
							svg
								use(xlink:href="#social-rutube")

					li
						a(href="#")
							| VK 
							svg
								use(xlink:href="#social-vk")


			div(class="footer-info__right")
				ul(class="phone-links") 
					li 
						a(href="#") +7 (495) 567-67-78
					li 
						a(href="#") savyatie.online@bk.ru

div(class="popup" id="popup-question")
	a(href="#" class="popup-close")

	div(class="popup-window")
		form 
			div(class="form-input input-half")
				input(type="text" placeholder="Имя*" required)

			div(class="form-input input-half")
				input(type="text" placeholder="E-mail*" required) 

			div(class="form-input")
				textarea(placeholder="Текст сообщения")

			div(class="form-input input")
				div(class="checkbox")
					input(type="checkbox" id="agree_popup")
					label(for="agree_popup") Даю согласие на обработку персональных данных

			div(class="form-submit")
				button(class="js-comment-submit btn btn-size-big") ОТПРАВИТЬ