header
	div(class="container")
		div(class="header")
			a(class="btn btn-color-white" href="#") Вопрос священнику

			div(class="header-logo")
				img(src="images/logo.png")
				span Медиаресурс нового поколения

			div(class="header-action")
				button(class="icon-btn icon-btn__search js-search-open")
					svg
						use(xlink:href="#search")

				button(class="icon-btn icon-btn__menu js-menu-open")
					span 
					span 
					span 


div(class="nav")
	div(class="container")
		nav 
			ul 
				li 
					a(href="#") Главное

				li 
					a(href="#") Грехам.net
					
				li 
					a(href="#") Образ святости

				li 
					a(href="#") Семья

				li 
					a(href="#") Карьера 

				li 
					a(href="#") Культура

				li 
					a(href="#") Уроки истории

				li 
					a(href="#") Большой разговор