header
	div(class="header")
		div(class="container")
			div(class="header-content")
				div(class="header-btns")
					a(class="btn btn-color-white js-questionform-open questionform-link" href="#") Вопрос священнику
					a(class="btn btn-color-white btn-help" href="#") Помочь проекту


				div(class="header-logo")
					img(src="images/logo.png")
					span Медиаресурс нового поколения

				div(class="header-action")
					div(class="header-search")
						form(action="/")
							input(type="text" placeholder="Введите текст")
					button(class="icon-btn icon-btn__search js-search-open")
						svg
							use(xlink:href="#search")

					button(class="icon-btn icon-btn__menu js-menu-open")
						span 
						span 
						span 
	
	div(class="menu")
		div(class="container")
			div(class="menu-content")
				div(class="menu-sections")
					ul 
						li 
							a(href="#") Главное
						li 
							a(href="#") Грехам.net
						li 
							a(href="#") Образ святости
						li 
							a(href="#") Семья
						li 
							a(href="#") Карьера 
						li 
							a(href="#") Культура
						li 
							a(href="#") Уроки истории
						li 
							a(href="#") Большой разговор
						li 
							a(href="#") Сообщество
						li 
							a(href="#") Карьера
						li 
							a(href="#") Улыбнись
						li 
							a(href="#") Протестую
						li 
							a(href="#") Здорово живешь
						li 
							a(href="#") Слово редактора
						li 
							a(href="#") Свежий взгляд
						li 
							a(href="#") Спецпроект
						li 
							a(href="#") Монашество
						li 
							a(href="#") Воинство
						li 
							a(href="#") Личный опыт
						li 
							a(href="#") SOS
						li 
							a(href="#") География святости
						li 
							a(href="#") Афиша
						li 
							a(href="#") Стиль
						li 
							a(href="#") Календарь
						li 
							a(href="#") Вера


				div(class="menu-sidebar")
					ul 
						li 
							a(href="#") О нас
						li 
							a(href="#") Авторы
						li 
							a(href="#") Архив
						li 
							a(href="#") Наши партнеры
						li 
							a(href="#") Правила перепечатки материалов
						li 
							a(href="#") Пользовательское соглашение
						li 
							a(href="#") Вакансии
						li 
							a(href="#") Контакты

					div(class="menu-sidebar__contacts")
						a(href="tel:+7 (495) 567-67-78") +7 (495) 567-67-78
						a(href="mailto:savyatie.online@bk.ru") savyatie.online@bk.ru



div(class="nav")
	div(class="container")
		nav 
			ul 
				li 
					a(href="#") Главное

				li 
					a(href="#") Грехам.net
					
				li 
					a(href="#") Образ святости

				li 
					a(href="#") Семья

				li 
					a(href="#") Карьера 

				li 
					a(href="#") Культура

				li 
					a(href="#") Уроки истории

				li 
					a(href="#") Большой разговор