{
  "presets": [
    [
      "@babel/env",
      {
        "include": [],
        "debug": true
      }
    ],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    "@babel/plugin-proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "syntax-async-functions",
    "transform-regenerator"
  ]
}