{
    "extends": [
        "airbnb-typescript",
        "plugin:react/recommended",
        "plugin:import/typescript",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
        //"prettier/react"
    ],
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module",
        "project": "tsconfig.json"
    },
    "plugins": [
        "react",
        "@typescript-eslint"
    ],
    "rules": {
        "react/prop-types": "off",
        "@typescript-eslint/semi": "off",
        "@typescript-eslint/indent": "off",
        "no-use-before-define": [
            "error",
            { "functions": false }
        ],
        "no-param-reassign": ["error", {
            "props": true,
            "ignorePropertyModificationsFor": [
                "acc", // for reduce accumulators
                "accumulator", // for reduce accumulators
                "e", // for e.returnvalue
                "ctx", // for Koa routing
                "req", // for Express requests
                "request", // for Express requests
                "res", // for Express responses
                "response", // for Express responses
                "$scope", // for Angular 1 scopes
                "staticContext" // for ReactRouter context
            ],
            "ignorePropertyModificationsForRegex": [
                "^el([A-Z][a-zA-Z0-9]*)?$", // for DOM element
                "^ref([A-Z][a-zA-Z0-9]*)?$" // for React ref
            ]
        }],
        "react/jsx-filename-extension": [
            1,
            { "extensions": [ ".js", ".jsx", ".tsx" ] }
        ],
        "react/jsx-indent": [ 1, 4 ],
        "react/jsx-indent-props": [ 1, 4 ],
        "max-len": [
            "warn",
            {
              "code": 80,
              "tabWidth": 2,
              "comments": 80,
              "ignoreComments": false,
              "ignoreTrailingComments": true,
              "ignoreUrls": true,
              "ignoreStrings": true,
              "ignoreTemplateLiterals": true,
              "ignoreRegExpLiterals": true
            }
        ]
    }
}
