extends ./_layout

block content
	div(class="page-404")
		div(class="container")
			div(class="page-404__content")
				h1 404
				p В данный момент страница недоступна 
				p Перейти на
					a(href="/") главную