extends ./_layout

block content
	div(class="page-title")
		div(class="container")
			div(class="page-title__content")
				h1 О нас


	div(class="page-block")
		div(class="container")
			div(class="page-block__content")
				h4(class="text-uppercase") Общие сведения
				p.
					«Фома» — православный журнал для сомневающихся — был основан в 1996 году и прошел 
					путь от черно-белого альманаха до ежемесячного культурно-просветительского издания, 
					крупного интернет-портала и множества других проектов-спутников. Наша основная миссия — рассказ о 
					православной вере и Церкви в жизни современного человека и общества. Мы стремимся обращаться лично к 
					каждому читателю и быть интересными разным людям независимо от их религиозных, политических и иных взглядов.
				p.
					«Фома» не является официальным проектом Русской Православной Церкви. В то же время мы активно сотрудничаем с 
					представителями духовенства и различными церковными структурами. Журналу присвоен гриф «Одобрено Синодальным 
					информационным отделом Русской Православной Церкви».<br><br><br>


				h4(class="text-uppercase") Выходные данные
				p Учредитель: Фонд содействия развитию культурно-просветительской деятельности «Фома Центр»
				p <b>Главный редактор:</b> В. Р. Легойда.
				p <b>Возрастная категория:</b> 12+
				p Зарегистрировавший СМИ орган — Федеральная служба по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор)
				p Свидетельство о регистрации СМИ: ПИ № ФС 77 — 37757 от 12.10.2009<br><br><br>
				


				h4(class="text-uppercase") Подписаться на e-mail рассылку
				p Подпишитесь на рассылку и получайте на электронную почту:
				ul
					li обзоры лучших статей сайта
					li напоминания о событиях и праздниках
					li новости
					li фоторепортажи
					li интервью и видеолекции
				button(class="btn btn-size-big") Подписаться

				<br><br>



				h4(class="text-uppercase") Подписаться на социальные сети
			
				ul(class="list-social")
					li 
						a(href="#")
							svg
								use(xlink:href="#social-telegram") 
					li 
						a(href="#")
							svg
								use(xlink:href="#social-vk")
					li 
						a(href="#")
							svg
								use(xlink:href="#social-youtube")
					li 
						a(href="#")
							svg
								use(xlink:href="#social-dzen")
					li 
						a(href="#")
							svg
								use(xlink:href="#social-rutube")    


				h4(class="text-uppercase") Как можно поддержать «Фому»
				h6 Если вам нравится то, что мы делаем — поддержите нас. Вместе мы можем больше!
				p Основная миссия «Фомы» — рассказ о православной вере и Церкви в жизни современного человека.
				p.
					Это удается нам благодаря неравнодушным людям, при поддержке которых мы делаем сайт и бумажный журнал, продающийся ниже себестоимости. Мы хотим, чтобы журнал был для всех по-настоящему доступным.
					Если вам близко то, чем мы занимаемся — поддержите нас. Станьте миссионером вместе с «Фомой<br><br>
				button(class="btn btn-size-big") Поддержать проект