extends ./_layout

block content
	div(class="page-title")
		div(class="container")
			div(class="page-title__content")
				h1 Вопросы священнику о семье и браке


	div(class="list list-line")
		div(class="container")
			div(class="list-items")
				div(class="list-item")
					a(href="#")
						p Двое детей, не можем ужиться с мужем. Развод?
						img(src="images/answer_1.jpg")

				div(class="list-item")
					a(href="#")
						p Муж сидит на шее, оскорбляет. Что делать?
						img(src="images/answer_2.jpg")

				div(class="list-item")
					a(href="#")
						p Нет детей, муж хочет развестись. Отпустить?
						img(src="images/answer_3.jpg")

				div(class="list-item")
					a(href="#")
						p Жена использует. Как быть?
						img(src="images/answer_4.jpg")

				div(class="list-item")
					a(href="#")
						p Муж пьет, но нужен для гражданства. Что делать?
						img(src="images/answer_5.jpg")

				div(class="list-item")
					a(href="#")
						p Ревную мужа к коллеге. Что делать?
						img(src="images/answer_6.jpg")

				div(class="list-item")
					a(href="#")
						p Мама выгоняет к мужу. Что делать?
						img(src="images/answer_7.jpg")

				div(class="list-item")
					a(href="#")
						p Бывший муж живет с кумой. Что делать?
						img(src="images/answer_8.jpg")

				div(class="list-item")
					a(href="#")
						p Муж ушел, родить не могу больше. Кому я нужна?
						img(src="images/answer_9.jpg")

			div(class="load-container")
				button(class="btn btn-red") Смотреть больше