extends ./_layout

block content
	div(class="page-title")
		div(class="container")
			div(class="page-title__content")
				h1 Семья


	div(class="news-list")
		div(class="container")
			div(class="news-list__items view-list")
				div(class="news-list__item")
					div(class="news-list__item-left")
						div(class="news-list__item-img")
							img(src="images/news_1.jpg")
							
					div(class="news-list__item-right")
						div(class="news-list__item-top")
							div(class="news-list__item-title")
								a(href="#") Святой Паисий Святогорец о выборе супруга

							div(class="news-list__item-desc")
								p Прежде всего нужно постараться найти хорошую девушку, которая придётся ему по сердцу. Потому что сердце каждого располагается к людям по-своему. Кто-то испытывает приязнь к одному человеку, кто-то – к другому.
						
						div(class="news-list__item-bottom")
							div(class="news-list__item-info")
								span 08.02.2022
								a(href="#") Наталия Матвеева



				div(class="news-list__item")
					div(class="news-list__item-left")
						div(class="news-list__item-img")
							img(src="images/news_3.jpg")
							
					div(class="news-list__item-right")
						div(class="news-list__item-top")
							div(class="news-list__item-title")
								a(href="#") «Жена да боится своего мужа...» Кто кого должен бояться на самом деле?

							div(class="news-list__item-desc")
								p Конечно, я не претендую на какое-то оригинальное или новое толкование, тем более что это место из послания апостола Павла к Ефесянам не раз комментировали знаменитые христианские авторы. 
						
						div(class="news-list__item-bottom")
							div(class="news-list__item-info")
								span 08.02.2022
								a(href="#") Наталия Матвеева



				div(class="news-list__item")
					div(class="news-list__item-left")
						div(class="news-list__item-img")
							img(src="images/news_4.jpg")
							
					div(class="news-list__item-right")
						div(class="news-list__item-top")
							div(class="news-list__item-title")
								a(href="#") Ребенок не хочет идти в школу. В чем причина?

							div(class="news-list__item-desc")
								p Конечно, я не претендую на какое-то оригинальное или новое толкование, тем более что это место из послания апостола Павла к Ефесянам не раз Такой вопрос родители задают часто, и, конечно, единого ответа на все случаи жизни не существует. 
						
						div(class="news-list__item-bottom")
							div(class="news-list__item-info")
								span 08.02.2022
								a(href="#") Наталия Матвеева
				


				div(class="news-list__item")
					div(class="news-list__item-left")
						div(class="news-list__item-img")
							img(src="images/news_5.jpg")
							
					div(class="news-list__item-right")
						div(class="news-list__item-top")
							div(class="news-list__item-title")
								a(href="#") Как найти предназначенного мне Богом человека? — священник отвечает на вопрос запутавшейся женщины

							div(class="news-list__item-desc")
								p О том, как в православии относятся к понятию «суженый», где найти свою любовь и что делать, если это не удается, мы поговорили с протоиереем Федором Бородиным, настоятелем московского храма святых бессребреников Косьмы и Дамиана на Маросейке.
						
						div(class="news-list__item-bottom")
							div(class="news-list__item-info")
								span 08.02.2022
								a(href="#") Наталия Матвеева

				


	div(class="pagination")
		button(class="more-load btn btn-size-big") Смотреть больше
		ul 
			li(class="active")
				a(href="#") 1
			li 
				a(href="#") 2
			li 
				a(href="#") 3
			li 
				a(href="#") 4
			li 
				span ...
			li 
				a(href="#") 25