extends ./_layout

block content
    div(class="container")
        div(class="main-page")
            h1 Верстка

            ul
                li
                    a(href="main.html") Главная
                li
                    a(href="about.html") О нас
                li
                    a(href="works.html") Сотрудники
                li
                    a(href="worker.html") Сотрудник
                li
                    a(href="rules.html") Правила перепечатки материалов
                li
                    a(href="terms.html") Пользовательское соглашение
                li
                    a(href="articles.html") Список статей
                li
                    a(href="articles-list.html") Список статей (Вид списком)
                li
                    a(href="article.html") Статья
                li
                    a(href="archive.html") Архив
                li
                    a(href="contacts.html") Контакты
                li
                    a(href="questions.html") Вопросы священнику
                li
                    a(href="vacancies.html") Вакансии
                li
                    a(href="longread.html") Лонгрид