extends ./_layout

block content
	div(class="page-block")
		div(class="container")
			div(class="page-block__content longread")
				div(class="longread-head")
					div(class="longread-head__img")
						img(src="images/longread_1.jpg" alt="")

					h1(class="text-uppercase") «Ничто и никого нельзя любить больше, чем Бога». Старец Кирилл (Павлов) о христианской добродетели любви

				div(class="longread-paragraphs")
					h2 Содержание:
					ul 
						li 
							a(href="#paragraph-1") 
								p Жизнеописание Архимадрита кирилла (Павлова)
								svg
									use(xlink:href="#arrow")
						li 
							a(href="#paragraph-2")
								p О войне и доме павлова от первого лица.
									span Архивное видео старца Кирилла
								svg
									use(xlink:href="#arrow")
						li 
							a(href="#paragraph-3")
								p «Сколько тогда наших солдат полегло от рук бандеровцев – вырезали целыми нарядами»
									span Любовь Владимировна Пьянкова 
								svg
									use(xlink:href="#arrow")
						li 
							a(href="#paragraph-4")
								p «На войне, конечно, была молитва!».
									span Митрополит Киевский и всея Украины Онуфрий
								svg
									use(xlink:href="#arrow")
						li 
							a(href="#paragraph-5")
								p «Только евангелие помогло не озлобиться на войне”.
									span Игумен Филарет (Тамбовский)
								svg
									use(xlink:href="#arrow")
						li 
							a(href="#paragraph-6")
								p «Отец Кирилл учил нас не страшиться будущего, а быть готовым  принять то, что придет, выстоять в той правде, в которую ты уверовал»
									span Феогност, Митрополит Каширский.
								svg
									use(xlink:href="#arrow")
						li 
							a(href="#paragraph-7")
								p «Сталинградское Евангелие Аархимандрита Кирилла (Павлова)”.
									span Новая книга о старце
								svg
									use(xlink:href="#arrow")
						li 
							a(href="#listen")
								p Послушать аудиозапись статьи
								svg
									use(xlink:href="#arrow")


				div(class="longread-content")
					div(class="longread-paragraph" id="paragraph-1")
						h3(class="text-uppercase") Житие отца Кирилла (Павлова)
						p 20 февраля 2022 года исполнилось пять лет со дня преставления архимандрита Кирилла (Павлова), духовника Свято-Троицкой Сергиевой Лавры и трех русских Патриархов, огромного числа монашествующих и мирян.
						p Каждый, кто обращался к отцу Кириллу как к духовнику, слышал его неизменный совет: «Читайте Евангелие! Вы не представляете, какое сокровище вам откроется!». 
						p  «Евангелие нам дано, принесено с неба, — и это слово не простое, слово Божественное, и оно нас учит только добру, как нам прожить здесь, на земле, миновать искушения, соблазны, избавиться от мучащих нас страстей, пороков, грехов, беззаконий» , - говорил отец Кирилл.
						p Будущий российский старец родился в рязанском селе Маковские выселки в день преподобного Сергия – 8 октября 1919 года. Его родители – верующие крестьяне Дмитрий Афанасьевич (1880-1963) и Прасковья Васильевна (1882-1954) – назвали сына Иваном – в честь апостола любви Иоанна Богослова, память которого отмечается на следующий день – 9 октября. Дмитрий Афанасьевич пел в церковном хоре, детей (а их в семье было пятеро – два сына и три дочери) учил грамоте по Библии – по-русски и по-церковнославянски, молитвенницей была мать батюшки Прасковья Васильевна. После отцовских занятий девочки – сестры батюшки - могли свободно читать Псалтирь по усопшим. А Иван Павлов, отойдя от Церкви в подростковом возрасте, снова обратился к вере в годы Великой Отечественной войны.
						p
							img(src="images/longread_2.jpg" align="right")
							| Война застала Ивана Павлова на Дальнем Востоке, в русской крепости Барабаш на границе с Маньчжурией – солдат-срочник ожидал демобилизации и скорой встречи с родными, но все случилось иначе – началась война. Пережив ранения и потери товарищей, замерзая в занесенных снегом окопах под Сталинградом, красноармеец Иван Павлов много раз задавался вопросами о смысле человеческих страданий. И вот, в развалинах одного из разбитых бомбежкой сталинградских домов он нашел Евангелие, собрал его по листочкам, стал читать и почувствовал что-то родное, милое для души. В то же мгновение пришло ясное осознание того, что грех есть колыбель войны, что эта страшная большая война попущена за отступление народа от Бога, за падение нравственности.
						p Келейница батюшки Любовь Владимировна Пьянкова рассказывала с его слов: в разрушенном и мертвом Сталинграде он дал обет – если вернется живым, будет учиться на священника. После этого – уже будучи кандидатом в члены ВКБ (б) – Иван Павлов отказался сделать последний шаг и стать коммунистом .
						p Отказ от вступления в партию по религиозным соображениям в 1943 году чуть не стоил 24-летнему красноармейцу жизни. Но Господь хранил своего исповедника: за Ивана Павлова вступилось начальство соседней части, куда верующий красноармеец был переведен на должность писаря. В приказах и сводках боевых действий, зафиксированных его рукой – километры фронтовых дорог – населенные пункты Украины, Венгрии, Австрии, Чехословакии.
						p Иван Павлов завершил службу осенью 1945 года в звании старшего сержанта. В Москве, оставив солдатский вещмешок у сестры в коммуналке, он отправился в Елоховский собор с главным вопросом – есть ли в Советском Союзе духовные школы, где учат на священника? 
						p Открывшиеся во время войны институт и пастырские курсы располагались в Московском Новодевичьем монастыре. В 1948 году Духовные школы перевели в Свято-Троицкую Сергиеву Лавру. Здесь, в Большой келье преподобного Сергия, Иван Павлов окончил не только семинарию, но и духовную академию. 
						img(src="images/longread_3.jpg")
						p.
							25 августа 1954 года он принял монашеский постриг с именем Кирилл в честь преподобного Кирилла Белозерского (чья память – как особый знак – приходится на 22 июня, день начала Великой Отечественной войны). 
							В конце 1960-х гг лаврский духовник архимандрит Петр (Семеновых) начинает все чаще болеть, и братия окормляется у отца Кирилла. С 1970 года на него уже официально возлагают послушание духовника обители.
							Более чем полвека отец Кирилл несет свое пастырское служение всероссийского старца, хотя таковым себя не считает. Но так называемая посылочная (две маленькие комнатки под Трапезным храмом Троице-Сергиевой Лавры, где разбирались поступившие в монастырь посылки), а после «крестилка» (у храма святителя Филиппа, митрополита Московского, в Патриаршей резиденции в Переделкино), где принимал батюшка, неизменно переполнены народом. По его молитвам исцеляются смертельно больные, созидаются семьи, преображаются человеческие души.
						p 
							img(src="images/longread_4.jpg" align="left")
							| «В Лавре исповедовали и утром, и вечером, и в ночное время. В 1970-е гг. монастырей было очень мало: Псково-Печерский, Почаевский на Западной Украине и Лавра, пожалуй, и всё, – вспоминает владыка Алексий (Поликарпов). – А народу тьма. На большие праздники после долгих Всенощных исповедь, бывало, продолжалась и до пяти часов утра. После этого оставались на раннюю Литургию» .
						p …Келейницы вспоминают: его позовут на исповедь в академию -- он бежит в Покровский академический храм. Скажут, что в посылочной кто-то дожидается, батюшка -- туда. Затем – в келью, где братия собралась на исповедь... Если Патриаршая служба -- отца Кирилла зовут встречать Патриарха. 
						p Перед смертью Святейшего Патриарха Алексия (Симанского, 1945-1970) отца Кирилла пригласили исповедовать его в Переделкино. Следующий Патриарх Пимен (Извеков, 1971-1990), который был фронтовиком и знал отца Кирилла по Лавре, -- приглашал его и в Переделкино, и в резиденцию в Чистый Переулок. Затем – Патриарх Алексий II (Ридигер, 1990 – 2008) также избрал батюшку своим духовником. 
						div(class="art-img")
							img(src="images/longread_5.jpg")
						p(class="text-red") Снова и снова призывает он не расставаться с Евангелием, – сделать его главным чтением своей жизни, «помня, что это Слово Божие, воля Божия, в исполнении которой – жизнь вечная, а в неисполнении – погибель».
						p Евангелие отец Кирилл называл Первоисточником. «Батюшка, что читаете?» – «Первоисточник». Сам знал его практически наизусть, цитировал по памяти целыми главами. Неопустительно носил с собой в кармашке. Даже когда делали операцию под местным наркозом, взял с собой очки, Евангелие, – и пока врачи работали, внимательно читал. 
						p Крепким здоровьем отец Кирилл никогда не отличался. После войны дали знать о себе застуженные под Сталинградом легкие -- в сырой келье с влажной водосточной трубой у него развился туберкулез. А когда болезнь начали лечить, от лекарств и снадобий открылась язва желудка. Осенью и весной, во время обострения, батюшка буквально умирал: ночами мучился от болей, а утром всё также спешил на братский молебен, потом – на послушания. 
						p Сколько раз поздним вечером в «посылочной» Лавры после нескончаемых в течение дня исповедей батюшка не мог встать. Так что уже помощники брали его под руки, чтобы довести на второй этаж, в келью. Батюшка еще и извинялся:
						p 
							b – Не рассчитал силы…
						p А там, в келье, тоже братия зачастую дожидалась духовника, и он, уже изнемогший, лежа, выслушивал, разрешал кающихся.
						p Когда отец Кирилл оказывался лежачим, его забирали или в больницу, или в Переделкино. 
						p Постепенно время, проводимое на лечении, все увеличивалось. Но вплоть до инсульта 4 декабря 2003 г. отец Кирилл принимал народ.
						p Инсульт застал его с Евангелием в руках – при чтении его любимых посланий апостола Павла. И даже падая уже, поймав перепуганный взгляд келейницы, до того, как потерять речь, проговорил:
						p 
							b – Ничего не бойся… Слава Богу за всё… 
						p Врачи разводили руками, – было непонятно, как он живет. Все их вердикты «несовместимо с жизнью» перекрывались жизнью какой-то иной…
						p Но батюшка жил – для других. Когда речь стала возвращаться, еще года три общался, отвечал на вопросы. Молился за всех, всё также утешал. 
						p «Терпи, солдат», -- говорили ему келейницы – «Мы выдержим, солдат». 
						p Так стали его называть во время болезни, когда он оказался прикован к постели и полностью зависел от доброй воли тех, кому выпало разделить с ним эту судьбу.… 
						p 
							b  -- Солдат? Это хорошо. Это правильно,
							| -- отвечал отец Кирилл, когда еще мог говорить и одобряющее улыбался .
						p В последние годы у старца оставалось одно, самое важное дело его жизни – молиться за своих духовных чад, за Россию, за весь мир.
						p Святейший Патриарх Кирилл на отпевании батюшки сказал: «Это был какой-то особый затвор. Он ушел из этого мира, оставаясь еще физически живым человеком. Многие не понимали, почему так произошло со старцем. Но это тоже был некий Божий знак. Он был нужен даже тогда, когда уже не мог говорить с людьми, и многие приходили к отцу Кириллу, чтобы просто постоять у его ложа, прикоснуться к его руке. Он продолжал служить людям своим безмолвием, своей болезнью, своей отрешенностью от этого мира» …
						p(class="text-red") В последние годы у старца оставалось одно, самое важное дело его жизни – молиться за своих духовных чад, за Россию, за весь мир.
						p Святейший Патриарх Кирилл на отпевании батюшки сказал: «Это был какой-то особый затвор. Он ушел из этого мира, оставаясь еще физически живым человеком. Многие не понимали, почему так произошло со старцем. Но это тоже был некий Божий знак. Он был нужен даже тогда, когда уже не мог говорить с людьми, и многие приходили к отцу Кириллу, чтобы просто постоять у его ложа, прикоснуться к его руке. Он продолжал служить людям своим безмолвием, своей болезнью, своей отрешенностью от этого мира» …
						p В последние годы у старца оставалось одно, самое важное дело его жизни – молиться за своих духовных чад, за Россию, за весь мир.
						p Святейший Патриарх Кирилл на отпевании батюшки сказал: «Это был какой-то особый затвор. Он ушел из этого мира, оставаясь еще физически живым человеком. Многие не понимали, почему так произошло со старцем. Но это тоже был некий Божий знак. Он был нужен даже тогда, когда уже не мог говорить с людьми, и многие приходили к отцу Кириллу, чтобы просто постоять у его ложа, прикоснуться к его руке. Он продолжал служить людям своим безмолвием, своей болезнью, своей отрешенностью от этого мира» …
						p Его болезнь продолжалась долгих 13 лет. У многих возникал вопрос – почему человеку святой жизни суждено испытать столько страданий?
						p И лаврские старцы говорили – он страдает за наши грехи. Те, что так часто брал на себя, покрывая их великой любовью. 
						p Отпевали его в день Защитника Отечества 23 февраля. Архимандрит Кирилл (Павлов), братский духовник Троице-Сергиевой Лавры, известный всей православной России старец, был настоящим бойцом, русским солдатом и воином Христовым. И было понятно, что он переселился в блаженную жизнь. Оттого вместе с горечью разлуки многие ощутили радость во время его отпевания, а когда гроб опускали в могилу – запели «Христос воскресе». 


					div(class="longread-paragraph" id="paragraph-2")
						h3(class="text-uppercase") О войне и доме Павлова от первого лица. Архивное видео архимандрита Кирилла (Павлова)
						div(class="article-element__video" data-video="BHACKCNDMW8")
							div(class="video-player" style="background-image: url(images/longread_6.jpg)")
							button(class="btn-video")
						div(class="text-small")
							p Предлагаем нашим читателям и зрителям познакомиться с уникальной видеозаписью неформальной встречи архимандрита Кирилла (Павлова) с братией Свято-Данилова монастыря. Старец отвечает на вопросы наместника обители (ныне владыки) Алексия (Поликарпова), других монахов о причинах Великой Отечественной войны, рассказывает об отказе стать членом ВКП (б) после Сталинградской битвы, комментирует церковное предание о своем участии в защите знаменитого дома Павлова в Сталинграде. 
							p Великая Отечественная война, по мнению батюшки, была попущена за отступление нашего народа от Бога. «На всю Россию перед войной храмов 50 только и оставалось. Ведь была линия такая, чтобы вообще с верой покончить, чтобы храмов не было, даже чтобы имя Божие не упоминалось у нас. Вот, собственно, война эта и пришла».
							p Комментируя встречу Сталина с тремя митрополитами – Сергием (Страгородским), Алексием (Симанским) и Николаем (Ярушевичем) в 1943 году, открытие храмов после нее, отец Кирилл отмечает: «Собственно, победа, видимо, и далась нам ради того, что правительство открыло храмы. После этого в корне изменилось положение на фронте. Даже Георгий Жуков в своих мемуарах на это внимание обращает. Он говорит, немецкие генералы в начале войны такие стратегические планы строили, а с 1943 г. те же самые генералы стали делать ошибки, ляпсусы – такие, что приходилось только удивляться. А это очень просто.  Господь всегда, когда хочет наказать, отнимает разум. Поэтому, когда Господь решил спасти Россию, Он отнял у немецких генералов разум – они стали делать просчеты. А наши умудрились. Тот же Жуков – искуснейший полководец… Как в свое время Господь воздвиг Суворова, Кутузова, так в годы Великой Отечественной войны Он воздвиг Жукова».


					div(class="longread-paragraph" id="paragraph-3")
						h3(class="text-uppercase") «Сколько тогда наших солдат полегло от рук бандеровцев – вырезали целыми нарядами». Что вспоминал архимандрит Кирилл (Павлова) о войне.
						
						div(class="art-img")
							img(src="images/longread_7.jpg")
						h5 Любовь Владимировна Пьянкова, келейница архимандрита Кирилла (Павлова)
						p В 1933 году отец Кирилл, а тогда еще Иван Павлов, поступил в Касимовский индустриальный техникум, получил специальность техника-технолога по холодной обработке металлов резанием. Один год он трудился по распределению на заводе в Катав-Ивановске Челябинской области, откуда его призвали в действующую армию. 
						p Он оказался на Дальнем Востоке, в поселке Барабаш, что на берегу залива Петра Великого. Там батюшка в свободное время любовался окрестностями, наблюдал приливы и отливы на берегу Японского моря. Вспоминал, как 22 июня 1941 года, в воскресенье, у них с товарищем была увольнительная, они сидели на берегу залива и вдруг заметили, что люди бегают, мечутся по набережной, кричат «война, война!». 
						img(src="images/longread_8.jpg")
						img(src="images/longread_9.jpg" class="wide")
						p Но на фронт их сразу не отправили, потому что ожидали нападения Японии; военная подготовка была усилена. Наконец, их погрузили в дощатые вагоны и повезли на фронт. Погода стояла чудесная, солдаты были в летнем обмундировании, но когда стали подъезжать к Уралу, промёрзли прилично. 
						p В 1941 году зима выдалась ранняя, суровая. Вспоминал, как несли они какую-то службу сторожевую: «Бывало, приходят менять наряд, а солдатик стоит там замёрзший, просто как сосулька». 
						p На Волховском фронте получил первое ранение в ногу, не очень серьезное, но все равно вынужден был лечиться. 
						p После госпиталя оказался под Сталинградом, который, по словам отца Кирилла, они и сдавали, и брали. «Когда немцы наступали, – рассказывал он, – мы под пулями прыгали в балки, такие глубокие овраги, которых много в Сталинградских степях. И хоть бы кто тогда ногу сломал, или руку, или что-нибудь вывихнул – ничего; такое было нервное напряжение».
						p Рассказывал, как перед нашим наступлением на Сталинград они месяц, наверное, в Сталинградских степях в окопах провели. Благо той зимой (1942-1943 гг. – Ред.) было много снега. «Набрасывали, – рассказывал батюшка, – на снег трофейные одеяла немецкие, шинели – и лежали». Высунуться было нельзя: только кто-нибудь поднимется, пилоточка или ушанка покажется над окопом – сразу снайпер бьет. Костер невозможно было развести, потому что чуть малейший дымок, и тут же накрывало это место снарядом. Наши ребята слышали немецкую речь, а те, видимо, русскую, так близко друг от друга находились. Раз в сутки, ночью, приезжала кухня, и можно было подкрепиться, хотя горячий суп иди щи в солдатских металлических мисках сразу же остывали или замерзали, кипятка не было; давали немного спирта, чтобы можно было согреться. Спирт батюшка не пил, отдавал товарищам. Но вспоминал, что ничего их тогда не брало: за всю войну хоть бы какой-нибудь кашель прицепился, простуда или насморк – ничего. Так организм собирался и мобилизовался 
						p А потом, рассказывал отец Кирилл, начались активные военные действия, наше наступление: «Было просто море огня, грохот стоял неимоверный: с нашей стороны «катюши» бьют, с немецкой – «ванюши», в воздухе – самолеты».
						p В живых оставались единицы. Когда освободили Сталинград, увидели, что ни одного дома в городе целого нет – стоят стены-скелеты, царит мертвая тишина, на улицах – трупы…
						p Батюшку спрашивали, он ли это защищал знаменитый дом Павлова в Сталинграде? Отец Кирилл отрицал: «Нет, нет, это не я». Еще слышала от него: «А сколько таких Павловых было на фронте?» 
						p Постоянное нахождение рядом со смертью оказывало серьезное влияние на людей. После войны батюшка был прикреплен к больнице на Мичуринском проспекте, один-два раза в год ложился на плановую госпитализацию. И его лечащий врач Владимир Никитич Рыжиков рассказывал, как у них лежал как-то маршал Василий Иванович Чуйков, который руководил обороной Сталинграда. «К нему, – говорит, – без ординарца в палату никто не входил, у него психика была полностью расстроена. Он каждый раз хватался за револьвер, который лежал у него под подушкой».
						p А батюшка ответил тогда: «Владимир Никитич, как у него еще голова на плечах осталась? Вы себе представить не можете, какая на нём лежала ответственность, какого масштаба военными действиями он руководил». Батюшка, конечно, с большим почтением относился к военачальникам. Говорил, что они вынесли нашу Победу на своих плечах.
						p Сам отец Кирилл рассказывал: на фронте часто наваливалось уныние, тоска, возникал вопрос – что дальше? 
						p И вот после освобождения Сталинграда в одном из разбитых домов он нашел старенькое Евангелие. Собрал его по листочкам и стал читать. «И, – говорит, – его слова в меня просто жизнь вселили и надежду. Читая Евангелие, я дал обет, что, если вернусь живым с фронта, буду учиться и стану священником, чтобы служить Богу и благодарить Его за тех, кто остался жив в этой страшной войне. И буду молиться о погибших». 
						p(class="text-red") «Я читал Евангелие, – рассказывал батюшка, – и уже ничего не боялся»
						p Батюшка к тому времени был кандидатом в члены ВКП(б), и когда встал вопрос о том, что пора уже быть полноценным коммунистом, заявил политруку: «Я верю в Бога, и мои убеждения не позволяют мне быть членом партии». «Политрук, – рассказывал отец Кирилл, – готов был меня растерзать. Ты, – говорит, – просто мало пороху нюхал, если о Боге рассуждаешь». Отправил его на передовую автоматчиком на танке – а это верная смерть. Батюшку спас тогда один из командиров, который пристроил его писарем в другую часть. И вместо штрафного батальона Иван Павлов оказался в Калмыцкой степи – их с товарищами послали помогать совхозу на бахчах. «И мы, – говорил батюшка, – отъедались арбузами и дынями».
						
						div(class="swiper")
							div(class="swiper-wrapper")
								div(class="swiper-slide") 
									img(src="images/longread_10.jpg")

								div(class="swiper-slide")
									img(src="images/longread_11.jpg")

								div(class="swiper-slide")
									img(src="images/longread_12.jpg")

								div(class="swiper-slide")
									img(src="images/longread_13.jpg")

								div(class="swiper-slide") 
									img(src="images/longread_10.jpg")

								div(class="swiper-slide")
									img(src="images/longread_11.jpg")

								div(class="swiper-slide")
									img(src="images/longread_12.jpg")

								div(class="swiper-slide")
									img(src="images/longread_13.jpg")

							div(class="swiper-button")
								div(class="swiper-button-prev")
								div(class="swiper-button-next")

						p Помню, как уже в 80-х годах ездили мы с отцом Кириллом в Крым на поезде. По дороге Москва – Симферополь есть станция Павлоград. Проезжали мы ее часа в два ночи. И батюшка всегда ожидал этой станции. Поезд стоял минут пять, отец Кирилл выходил иногда на перрон, а иногда просто в тамбур и говорил: «Вот здесь проходили мои мытарства». Он не мог это место пропустить, настолько живы были у него воспоминания, переживания душевные. 
						p 	Потом уже они Украину освобождали, Румынию, Венгрию, где в районе озера Балатон батюшку еще раз ранило. Сохранилась фотография военного времени – он с двумя сестрами в 1944 году. Батюшка заезжал после госпиталя в Москву к Анне Дмитриевне, и они сфотографировались. 
						p А закончил войну отец Кирилл в Австрии. Но их демобилизовали не сразу, а еще перебросили на Западную Украину, и там они несли охрану боевых складов. И батюшка вспоминал: «Сколько тогда наших солдат полегло от рук бандеровцев – вырезали целыми нарядами».


					div(class="longread-paragraph" id="paragraph-4")
						h3 «На войне, конечно, была молитва!»
						div(class="art-img")
							img(src="images/longread_14.jpg")
						h5 Митрополит Киевский и всея Украины Онуфрий (Березовский) 
						p Старец не тот, кто много говорит, а тот, кто помогает: неважно, многими словами или одним словом, или каким-то действием, поступком, или же своим видом – но он помогает людям обрести надежду, не впасть в уныние. Потому что самый страшный грех – уныние, отчаяние. Отец Кирилл спасал людей от этих грехов, помогал идти к Богу. 
						p Он был терпеливый до невозможности! Все терпел, никогда не роптал, в том числе в болезнях. Рассказывал, как во время войны, в морозы солдаты лежали где-то в траншеях сутками – в легких одеждах, полураздетые. Некоторые хотели заболеть, чтобы попасть в лазарет и немножко отдохнуть, но никто даже не чихнул! 
						p А после войны пришли болезни: у отца Кирилла начались хронические насморки, открылась язва двенадцатиперстной кишки, от которой он чуть не помер, очень серьезные обострения случались в весенне-осенний сезоны.  А потом ему сделали операцию, трубочку поставили, с которой он жил лет 30 или 40, и язва его уже так сильно не беспокоила. 
						p Всякие невзгоды, болезни он терпел совершенно безропотно, никогда не сказал: «Ой, Боже, что ж такое, я болею, за что так, почему? И сколько это будет продолжаться?» Все нес очень терпеливо и с благодарностью Богу.
						p О войне говорил немного. Рассказывал, что какое-то время служил писарем – по тем временам он был человеком грамотным. Вспоминал полководцев: Рокоссовского, Жукова.
						p Про Сталинград рассказывал какие-то отдельные эпизодики: что бомбили так, что нельзя было поднять головы, осколки свистели над землей, и они просто лежали плашмя, сутками, прижавшись к земле, и молились Богу. Там, на войне, конечно, была молитва!
						p И там он нашел Евангелие. 
						p Отец Кирилл все время носил в кармане Евангелие, постоянно его читал, даже во время литургии – в качестве подготовки к Евхаристическому канону, насколько я помню, читал главы о Тайной вечери, установлении святой Евхаристии. У  себя в келье он также устраивал чтение Священного Писания. Собирались монахи, воспитанники духовной семинарии, академии – один читает, все слушают, что-то толкуют. Он настолько хорошо знал святое Евангелие, что цитировал наизусть целые абзацы. Что-то в жизни происходит – отец Кирилл сразу же найдет место в Евангелии с ответом на возникший вопрос. 
						p Своим духовным чадам он также благословлял читать святое Евангелие. Псалтырь, конечно, тоже, но Евангелие, считал отец Кирилл – главная книга христианина.


					div(class="longread-paragraph" id="paragraph-5")
						h3 «Только Евангелие помогло не озлобиться на войне»
						div(class="art-img")
							img(src="images/longread_15.jpg")
						h5 Игумен Филарет (Тамбовский), клирик храма иконы Божией Матери «Всех скорбящих радость» на Большой Ордынке, Москва
						p Старец Кирилл (Павлов) говорил: «Страшное потрясение принесла людям война». Боль этих ран очень трудно утолить. Батюшка со слезами на глазах вспоминал приходивших к нему матерей, вдов. Не мог забыть одну женщину из Костромы, которая на войне потеряла пятерых сыновей (все погодки)! Последний погиб прямо накануне Победы, в Берлине. И батюшка рассказывал: «Лица у этой женщины и ее мужа были восковые – застывшие от горя, эти люди даже плакать уже не могли». Но здесь, в Лавре, после богослужений, исповеди, причастия им становилось полегче: помолятся, пообщаются с духовниками, с такими же, как они, горемыками, и немного посветлеет на душе… 
						p Отец Кирилл очень мало рассказывал о войне, говорил, что было страшно. Как-то вспомнил, что у него на глазах у автоматчика оторвало ноги, и тот 15 минут кричал от боли, а потом умер. Батюшка говорил: ему только Евангелие помогло не озлобиться. Даже отец Тихон (Агриков), еще один наш старец, который и книгу написал, про войну помалкивал. Это всегда было табу. Как про любовь – молчали. 
						p Время не лечит, оно лишь притупляет боль, говорил батюшка. Но страдания часто избавляют от грехов. Человек, прошедший войну, вряд ли потом убивал или воровал. 
						p Мой дедушка рассказывал: на фронте многие солдаты, офицеры были людьми кристальной честности, и они искренне кричали, идя в атаку: «За Родину, за Сталина!». Не в том плане, что возводили личность Сталина в какой-то культ – для военных он был вождем – так же, как и Жуков. Батюшка преклонялся перед талантом Георгия Константиновича и всегда его поминал. Очень жалел, что после смерти его кремировали.
						p Я, когда 9 мая служу литургию, панихиду – поминаю и самого отца Кирилла, и – по его слову: военачальников Иосифа, Георгия, всех маршалов (у меня их имена переписаны), воинов – около сотни – тех, кого я знал лично или родственников моих знакомых. Батюшка говорил, что хотя бы 9 мая всех воинов надо вспомнить поимённо. 
						p «За власть надо молиться, она от Бога дана», – говорил батюшка. Или: «По слугам – и власть». Не захотели святого царя – вот вам, пожалуйста, 70 лет безбожного ига. Говорил: 
						p(class="text-red") «Не надо роптать и в политику лезть. Мы, слава Богу, имеем возможность молиться, каяться, причащаться». 
						p Когда его спрашивали: «Батюшка, идти ли на выборы?» Отвечал: «Как тебе совесть подсказывает». – «Подсказывает сходить». – «Ну, если у тебя есть время, сходи».


					div(class="longread-paragraph" id="paragraph-6")
						h3 «Отец Кирилл учил нас не страшиться будущего, а быть готовым  принять то, что придет, выстоять в той правде, в которую ты уверовал»
						div(class="art-img")
							img(src="images/longread_16.jpg")
						h5 Феогност, митрополит Каширский, викарий Святейшего Патриарха Московского и всея Руси, наместник Донского ставропигиального монастыря в Москве.  
						p Однажды в скиту Троице-Сергиевой Лавры в Макеевке в присутствии батюшки и его помощницы монахини Евфимии мы читали труды Александра Васильевича Суворова, и отец Кирилл неожиданно стал вспоминать Сталинград. Рассказывал о том, как зимой 1942-1943 года стояли морозы, доходившие до 40 градусов. Я спрашивал: «Батюшка, холодно было? Наверное, вы ночевали в землянках?» – «Нет, мы сидели в окопах. Огонь разводить нельзя – немцы начнут стрелять. Но было хорошо, у нас были тёплые немецкие одеяла – у самих немцев таких не было», – рассказывал батюшка. 
						p После капитуляции Паулюса отцу Кириллу предложили вступить в партию. И когда он сказал – «нет» – это стало оскорблением для тех, кто этой партии служил. Его хотели наказать, но Господь помиловал, и он вернулся с войны живым.
						p Отец Кирилл показал своим примером, что для того чтобы иметь смирение, нужно быть мужественным. А для того, чтобы быть мужественным, необходимо смирение. Потому что смирение неотделимо от мужества, они не живут друг без друга. 
						p У него не было негатива: во всем он видел Промысел Божий. Никогда не ругал, не осуждал. Смирением побеждал тех, кто боролся и с ним, и с Лаврой. Нас учил именно покорности воле Божьей, кротости, вере. Отец Кирилл радовался и в скорби, и в радости, благодаря Бога за все, что Господь ему посылает. 
						img(src="images/longread_17.jpg" align="left")
						p Он с одинаковым благодушием  встречал хрущёвские гонения и то, что произошло позже. Жил верой: «Времена не выбирают: в них живут и умирают». И раз Господь дал нам это время, значит, нужно в нем жить. Раз поставил эти задачи, их нужно решать. Господь определил тебе быть именно в это время и делать то, что ты делаешь сегодня. 
						p Он учил нас не загадывать и не страшиться будущего, а быть готовым  принять то, что придет, выстоять в той правде, в которую ты уверовал и в которой ты живёшь. Не предать, не изменить. Не себе, не своей вере, не своим близким. 
						p(class="text-red") Он верил в силу молитвы. Понимал, что никакими другими средствами мы не изменим ни себя, ни другого человека.
						p И только изменяя себя, мы изменяем мир. Слова молитв – одни и те же для всех. Но любовь, которой они наполнены – разные. И у отца Кирилла было больше любви. Поэтому его молитва была сильнее, чем у всех остальных. Он любил тех, за кого молился и всем сердцем обращался к Господу с просьбой за них – помиловать, спасти и сохранить. 
						p(style="font-size: 64px") написать про книгу

				div(class="article-audio" id="listen")
					h3 Послушать аудио
					div(class="article-audio__content")
						div(class="article-audio__info")
							p Старец Кирилл (Павлов) о христианской добродетели любви
							span 25 мин

						div(class="article-audio__player")
							div(class="btn-play js-audio-play")
							svg
								use(xlink:href="#wave")

				div(class="article-info")
					p(class="article-info__date") 07.03.2022
					div(class="article-info__actions")
						button 
							svg
								use(xlink:href="#like")
							| Like
						
						button 
							svg
								use(xlink:href="#share")
							| Share

				div(class="article-tags")
					ul 
						li 
							a(href="#") ЛЮБОВЬ
						li 
							a(href="#") СЕМЬЯ
						li 
							a(href="#") прот.Валериан Кречетов

				div(class="article-comments")
					div(class="article-comments-form")
						h3 320 КоМментариев
						form 
							div(class="form-input input-half")
								input(type="text" placeholder="Имя*" required)

							div(class="form-input input-half")
								input(type="text" placeholder="E-mail*" required) 

							div(class="form-input")
								textarea(placeholder="Текст сообщения")

							div(class="form-submit")
								button(class="js-comment-submit btn btn-size-big") ОТПРАВИТЬ

					div(class="article-comments-list")
						div(class="article-comments-list__item")
							div(class="article-comment__info")
								p Петр Кудрявцев
								span 07.03.2022
							
							div(class="article-comment__text")
								p Всё именно так. Спасибо.

						div(class="article-comments-list__item")
							div(class="article-comment__info")
								p Анна Иванова
								span 07.03.2022
							
							div(class="article-comment__text")
								p Большое вам спасибо за вашу помощь всем людям. В это не простое время самое главное сохранять спокойствие и выполнять все то, что вы сказали с верою на Божью помощь.

					div(class="article-comments-load")
						button(class="js-comment-load btn btn-size-big") СМОТреть больше