extends ./_layout

block content
	div(class="container")
		div(class="news-home")
			div(class="row")
				div(class="col-sm-12 col-md-6 col-lg-8 col-left")
					div(class="news-home__main")
						div(class="news-home__main-img")
							a(href="#") 
								img(src="images/img_1.jpg" alt="")
							
							div(class="news-home__main-human")
								img(src="images/img_2.jpg" alt="")

						h2 
							a(href="#") &#8220;Война человека против человека является следствием войны против бога&#8221;

						p(class="desc") свят. Николай Сербский

						a(href="#" class="link-label") Главное


				div(class="col-sm-12 col-md-6 col-lg-4 col-right")
					div(class="news-home__sidebar")
						div(class="news-home__block-day")
							div(class="news-home__sidebar-title")
								h3 Именинники Георгии

							div(class="news-home__block-day__content")
								p(class="date")
									span(class="date__day") 06
									span(class="date__month") мая
								
								div(class="img")
									img(src="images/img_3.jpg" alt="")
							
							a(href="#" class="link-label") Календарь

						
						div(class="news-home__block-article")
							div(class="news-home__sidebar-title")
								h3 Евангелие<br> воскресного дня

							div(class="article-element")
								div(class="article-element__video")
									img(src="images/img_4.jpg")
									button(class="btn-video")
							
							a(href="#" class="link-label") Вера
							span(class="article-element__date") 7 марта 2022


	div(class="marquee")
		marquee(behavior="alternate" direction="left" bgcolor="#f1f1f1")
			span ПРЕДСТАВЛЯЕМ медиаресурс нового поколения
			span ПРЕДСТАВЛЯЕМ медиаресурс нового поколения
			span ПРЕДСТАВЛЯЕМ медиаресурс нового поколения
			span ПРЕДСТАВЛЯЕМ медиаресурс нового поколения
			span ПРЕДСТАВЛЯЕМ медиаресурс нового поколения


	div(class="container")
		div(class="home-type")
			div(class="home-type__title")
				h3 Анонс
				a(href="#") Читать больше

			div(class="article-elements")
				div(class="article-element")
					div(class="article-element__title title-author")
						div(class="article-element__title-links")
							a(href="#" class="link-label") Вера
							a(href="#" class="link-title") Руководитель молодежной редакции о политике нашего медиаресурса
						div(class="article-element__title-img")
							img(src="images/img_5.jpg")
						
					div(class="article-element__bottom")
						span(class="article-element__date") 7 марта 2022
						a(href="#" class="link-arrow")
							img(src="images/arrow.png")

				

				div(class="article-element")
					div(class="article-element__title")
						div(class="article-element__title-links")
							a(href="#" class="link-label") Промо ролик
							a(href="#" class="link-title") Зачем нам “Святые online”
					
						
					div(class="article-element__video")
						img(src="images/img_6.jpg")
						button(class="btn-video")


				
				div(class="article-element")
					div(class="article-element__title title-author")
						div(class="article-element__title-links")
							a(href="#" class="link-label") Слово редактора
							a(href="#" class="link-title") Представляем медиаресурс нового поколения “Cвятые online”
						div(class="article-element__title-img")
							img(src="images/img_5.jpg")
						
					div(class="article-element__bottom")
						span(class="article-element__date") 7 марта 2022
						a(href="#" class="link-arrow")
							img(src="images/arrow.png")





		div(class="home-type")
			div(class="home-type__title")
				h3 Новое
				a(href="#") Читать больше


			div(class="row")
				div(class="col-sm-4 col-left")
					div(class="article-elements article-elements__list")
						div(class="article-element")
							div(class="article-element__title")
								div(class="article-element__title-links")
									a(href="#" class="link-label") ГРЕХАМ.NET
									a(href="#" class="link-title") Стив Джобс о правилах информационной гигиены
										
							div(class="article-element__bottom")
								span(class="article-element__date") 7 марта 2022


						
						div(class="article-element")
							div(class="article-element__title")
								div(class="article-element__title-links")
									a(href="#" class="link-label") SOS
									a(href="#" class="link-title") Срочно нужна наша помощь беженцам!
										
							div(class="article-element__bottom")
								span(class="article-element__date") 7 марта 2022



						div(class="article-element")
							div(class="article-element__title")
								div(class="article-element__title-links")
									a(href="#" class="link-label") SOS
									a(href="#" class="link-title") Срочно нужна наша помощь беженцам!
										
							div(class="article-element__bottom")
								span(class="article-element__date") 7 марта 2022



						div(class="article-element")
							div(class="article-element__title")
								div(class="article-element__title-links")
									a(href="#" class="link-label") SOS
									a(href="#" class="link-title") Срочно нужна наша помощь беженцам!
										
							div(class="article-element__bottom")
								span(class="article-element__date") 7 марта 2022


				div(class="col-sm-8")
					div(class="article-element article-element__big")
						div(class="article-element__video")
							img(src="images/img_7.jpg")
							button(class="btn-video")

						div(class="article-element__title")
							div(class="article-element__title-links")
								a(href="#" class="link-label") Семья
								a(href="#" class="link-title") От чистого истока. Святой Паисий Святогорец о создании семьи

						div(class="article-element__bottom")
							span(class="article-element__date") 7 марта 2022



		
		div(class="home-type")
			div(class="home-type__title")
				h3 Вечное
				a(href="#") Читать больше


			div(class="row")
				div(class="col-sm-8 col-left")
					div(class="article-element article-element__big")
						div(class="article-element__img")
							a(href="#") 
								img(src="images/img_8.jpg")

						div(class="article-element__title")
							div(class="article-element__title-links")
								a(href="#" class="link-label") БОЛЬШОЙ РАЗГОВОР
								a(href="#" class="link-title") Как отличить любовь от влюбленности?<br> Как пережить расстование?

						div(class="article-element__desc")
							span Встреча со священником и врачом иереем Игорем Блиновым

						div(class="article-element__bottom")
							span(class="article-element__date") 7 марта 2022


				div(class="col-sm-4")
					div(class="article-elements article-elements__list")
						div(class="article-element article-element__big")
							div(class="article-element__img")
								a(href="#") 
									img(src="images/img_9.jpg")

							div(class="article-element__title")
								div(class="article-element__title-links")
									a(href="#" class="link-label") Культура
									a(href="#" class="link-title") «Всякий из нас пред всеми во всем виноват»

							div(class="article-element__desc")
								span Читаем роман Ф.М. Достоевского “Братья Карамазовы”

							div(class="article-element__bottom")
								span(class="article-element__date") 7 марта 2022


						div(class="article-element article-element__big")
							div(class="article-element__img")
								a(href="#") 
									img(src="images/img_10.jpg")

							div(class="article-element__title")
								div(class="article-element__title-links")
									a(href="#" class="link-label") УРОКИ ИСТОРИИ
									a(href="#" class="link-title") Жизнь молодежи ранневизантийского города в трудах свят. Иоанна Златоуста. Что изменилось?

							div(class="article-element__bottom")
								span(class="article-element__date") 7 марта 2022




		div(class="home-type")
			div(class="home-type__title")
				h3 ОБраз святости
				a(href="#") Читать больше

			div(class="row")
				div(class="col-sm-4 col-left")
					div(class="article-elements article-elements__list")
						div(class="article-element article-element__big")
							div(class="article-element__video")
								img(src="images/img_11.jpg")
								button(class="btn-video")

							div(class="article-element__title")
								div(class="article-element__title-links")
									a(href="#" class="link-label") ОБРАЗ СВЯТОСТИ
									a(href="#" class="link-title") Что значит любить Родину?

							div(class="article-element__bottom")
								span(class="article-element__date") 7 марта 2022

						
						div(class="article-element article-element__big")
							div(class="article-element__img")
								a(href="#") 
									img(src="images/img_12.jpg")

							div(class="article-element__title")
								div(class="article-element__title-links")
									a(href="#" class="link-label") ОБРАЗ СВЯТОСТИ
									a(href="#" class="link-title") Крест солдата Евгения Родионова

							div(class="article-element__bottom")
								span(class="article-element__date") 7 марта 2022


				
				div(class="col-sm-8")
					div(class="article-element article-element__big")
						div(class="article-element__img")
							a(href="#") 
								img(src="images/img_13.jpg")

						div(class="article-element__title")
							div(class="article-element__title-links")
								a(href="#" class="link-label") ОБРАЗ СВЯТОСТИ
								a(href="#" class="link-title") 600-летие обретение мощей Преподобного Сергия

						div(class="article-element__bottom")
							span(class="article-element__date") 7 марта 2022





		
		div(class="home-type")
			div(class="home-type__title")
				h3 Улыбнись
				a(href="#") Читать больше

			div(class="article-elements")
				div(class="article-element")
					div(class="article-element__title")
						div(class="article-element__title-links")
							a(href="#" class="link-label") Улыбнись
							a(href="#" class="link-title") Все нынешние святые в прошлом грешные
						
				

				div(class="article-element")
					div(class="article-element__title")
						div(class="article-element__title-links")
							a(href="#" class="link-label") Улыбнись
							a(href="#" class="link-title") В хорошие монастыри послали хороших настоятелей, а вам послали меня
					

				
				div(class="article-element")
					div(class="article-element__title")
						div(class="article-element__title-links")
							a(href="#" class="link-label") Протестую

					div(class="article-element__img")
						a(href="#") 
							img(src="images/img_14.jpg")



		
		div(class="home-type")
			div(class="home-type__title")
				h3 На службе
				a(href="#") Читать больше

			div(class="article-elements")
				div(class="article-element")
					div(class="article-element__title")
						div(class="article-element__title-links")
							a(href="#" class="link-label") Карьера
							a(href="#" class="link-title") Свой бизнес или работа в корпорации? 

					div(class="article-element__bottom")
						span(class="article-element__date") 7 марта 2022
						a(href="#" class="link-arrow")
							img(src="images/arrow.png")
						
				

				div(class="article-element")
					div(class="article-element__title")
						div(class="article-element__title-links")
							a(href="#" class="link-label") Воинство
							a(href="#" class="link-title") Жди меня!

					div(class="article-element__img")
						a(href="#") 
							img(src="images/img_15.jpg")

				
				div(class="article-element")
					div(class="article-element__title")
						div(class="article-element__title-links")
							a(href="#" class="link-label") Монашество
							a(href="#" class="link-title") Лайфхаки для послушников

					div(class="article-element__bottom")
						span(class="article-element__date") 7 марта 2022
						a(href="#" class="link-arrow")
							img(src="images/arrow.png")
					

		


		div(class="home-type")
			div(class="home-type__title")
				h3 Спецпроекты
				a(href="#") Читать больше

			div(class="row")
				div(class="col-sm-4 col-left")
					div(class="article-elements article-elements__list")
						div(class="article-element")
							div(class="article-element__img")
								a(href="#") 
									img(src="images/img_16.jpg")

							div(class="article-element__title")
								div(class="article-element__title-links")
									a(href="#" class="link-label") Лествица добродетелей
									a(href="#" class="link-title") Зачем финансовому брокеру христианская аскетика?


						
						div(class="article-element")
							div(class="article-element__img")
								a(href="#") 
									img(src="images/img_17.jpg")

							div(class="article-element__title")
								div(class="article-element__title-links")
									a(href="#" class="link-label") Живое наследие
									a(href="#" class="link-title") К пятилетию кончины архимадрита Кирилла (Павлова), духовника Свято-Троицкой Сергеевой Лавры и трех русских Патриархов



				
				div(class="col-sm-8")
					div(class="article-element article-element__big")
						div(class="article-element__img")
							a(href="#") 
								img(src="images/img_18.jpg")

						div(class="article-element__title")
							div(class="article-element__title-links")
								a(href="#" class="link-title") Совместно с издательством Свято - Троецкой Сергеевой Лавры

			
		div(class="home-type")
			div(class="home-type__title")
				h3 Подкасты
				a(href="#") Читать больше

			div(class="row")
				div(class="col-sm-4")
				div(class="col-sm-8")
					div(class="audio-list")
						div(class="article-audio")
							div(class="article-audio__content")
								div(class="article-audio__info")
									a(href="#" class="link-label") Подкасты
									p Какую роль играли бы поцелуи, не будь мы такими грешными людьми
									span 25 мин

								div(class="article-audio__player")
									div(class="btn-play js-audio-play")
									svg
										use(xlink:href="#wave")


						div(class="article-audio")
							div(class="article-audio__content")
								div(class="article-audio__info")
									a(href="#" class="link-label") Подкасты
									p Грешно ли делать карьеру? Встреча с протоиереем Валерианом Кречетовым
									span 25 мин

								div(class="article-audio__player")
									div(class="btn-play js-audio-play")
									svg
										use(xlink:href="#wave")

		div(class="home-type")
			div(class="home-type__title")
				h3 География святости
				a(href="#") Читать больше

			div(class="row")
				div(class="col-sm-12")
					div(class="article-element article-element__big")
						div(class="article-element__img")
							a(href="#") 
								img(src="images/img_19.jpg")

						div(class="article-element__title")
							div(class="article-element__title-links")
								a(href="#" class="link-label") География святости
								a(href="#" class="link-title") Путешествуем в Нилову пустынь с палаткой и гитарой. Святой Нил Столобенский - покровитель озера Селигер

						div(class="article-element__desc")
							span Что посмотреть? Как добраться? Где остановиться?




		
		div(class="home-type")
			div(class="home-type__title")
				h3 ДОСуГ
				a(href="#") Читать больше

			div(class="row")
				div(class="col-sm-4 col-left")
					div(class="article-elements article-elements__list")
						div(class="article-element")
							div(class="article-element__img")
								a(href="#") 
									img(src="images/img_20.jpg")

							div(class="article-element__title")
								div(class="article-element__title-links")
									a(href="#" class="link-label") Афиша
									a(href="#" class="link-title") Русский пейзаж Парижской школы


						
						div(class="article-element")
							div(class="article-element__img")
								a(href="#") 
									img(src="images/img_21.jpg")

							div(class="article-element__title")
								div(class="article-element__title-links")
									a(href="#" class="link-label") Здорово живешь
									a(href="#" class="link-title") Сплав на байдарках - 2022: маршруты и цены



				
				div(class="col-sm-8")
					div(class="article-element article-element__big")
						div(class="article-element__img")
							a(href="#") 
								img(src="images/img_22.jpg")

						div(class="article-element__title")
							div(class="article-element__title-links")
								a(href="#" class="link-label") Стиль
								a(href="#" class="link-title") Разговор о женской красоте с актрисой Ириной Алферовой

			

		
		div(class="home-share")
			div(class="row")
				div(class="col-sm-4")
					div(class="home-share__icon")
						svg
							use(xlink:href="#long-arrow")

				div(class="col-sm-8")
					p
						span Ищем таланты!
						| Присылайте ролики, <br>фото и рисунки.<br>
						| ДеЛитесь Вашими впечатлениями!
					
					button(class="btn btn-red") Поделиться

					div(class="home-share__img")
						img(src="images/img_23.jpg")