extends ./_layout

block content
	div(class="page-title")
		div(class="container")
			div(class="page-title__content")
				h1 Наши партнеры


	div(class="list")
		div(class="container")
			div(class="list-items")
				div(class="list-item")
					a(href="#")
						img(src="images/partner_1.jpg")
						p Издательство Свято-Троицкой Сергиевой Лавры

				div(class="list-item")
					a(href="#")
						img(src="images/partner_2.jpg")
						p Фонд сохранения духовно-нравственной культуры “Покров”