extends ./_layout

block content
	div(class="page-title")
		div(class="container")
			div(class="page-title__content")
				h1 Вопрос священнику


	div(class="questions")
		div(class="container")
			div(class="input-search")
				form(action="/")
					input(type="text" placeholder="Введите текст")
					button(class="btn btn-size-big")
						span Искать
						svg
							use(xlink:href="#search")


			div(class="questions-list")
				ul 
					li 
						a(href="#") 
							span Семья, брак
							svg
								use(xlink:href="#arrow")

					li 
						a(href="#") 
							span Любовь, отношения
							svg
								use(xlink:href="#arrow")

					li 
						a(href="#") 
							span Уныние, страхи
							svg
								use(xlink:href="#arrow")

					li 
						a(href="#") 
							span Отпевание, похороны
							svg
								use(xlink:href="#arrow")

					li 
						a(href="#") 
							span Причастие
							svg
								use(xlink:href="#arrow")

					li 
						a(href="#") 
							span Суеверия, приметы
							svg
								use(xlink:href="#arrow")
					
					li 
						a(href="#") 
							span Дети, воспитание
							svg
								use(xlink:href="#arrow")
												
					li 
						a(href="#") 
							span Конфликты
							svg
								use(xlink:href="#arrow")
												
					li 
						a(href="#") 
							span Работа, деньги, быт
							svg
								use(xlink:href="#arrow")

					li 
						a(href="#") 
							span Крещение
							svg
								use(xlink:href="#arrow")

					li 
						a(href="#") 
							span Грех
							svg
								use(xlink:href="#arrow")

					li 
						a(href="#") 
							span Посты и праздники
							svg
								use(xlink:href="#arrow")
					
					li 
						a(href="#") 
							span КОРОНОВИРУС
							svg
								use(xlink:href="#arrow")

					li 
						a(href="#") 
							span Вера, благочестие
							svg
								use(xlink:href="#arrow")

					li 
						a(href="#") 
							span Венчание, свадьбы
							svg
								use(xlink:href="#arrow")

					li 
						a(href="#") 
							span Исповедь
							svg
								use(xlink:href="#arrow")

					li 
						a(href="#") 
							span Домашние питомцы
							svg
								use(xlink:href="#arrow")