extends ./_layout

block content
	div(class="page-title")
		div(class="container")
			div(class="page-title__content")
				h1 Правила перепечатки материалов


	div(class="page-block")
		div(class="container")
			div(class="page-block__content")
				p
					b 1. Общие положения.
				p Права на материалы, опубликованные в Изданиях принадлежат Изданиям, за исключением случаев, когда о статусе материала в рамках него или в подписи к нему есть особые указания на иное.
				p Под использованием материалов понимается воспроизведение, распространение, публичный показ, сообщение в эфир, сообщение по кабелю, перевод, переработка, доведение до всеобщего сведения и иные способы использования, предусмотренные действующим законодательством Российской Федерации.
				

				p
					b 2. Правила использования и перепечатки материалов.
				p Любые материалы Изданий могут быть использованы в сети Интернет без письменного согласия Изданий и на безвозмездной основе при условии, что пользователь является физическим лицом, такое использование осуществляется исключительно в личных целях, и со строгим соблюдением порядка использования материалов из п.3 данных правил.
				p Материалы Изданий могут быть использованы в сети Интернет на безвозмездной основе религиозными, благотворительными и иными некоммерческими организациями при получении ими согласия от Изданий в формате предусмотренном п.4 данных правил и на основании и при условии строгого соблюдения правил перепечатки материалов из п.3 данных правил.
				p Внесение каких-либо изменений и/или дополнений в материалы Изданий, а также любая переработка материалов запрещены.
				p Другие форматы использования материалов, а также использование материалов лицами не перечисленными в п. 2.1 и 2.2 возможны только по получении письменного согласия Изданий в формате предусмотренном п.4 данных правил.


				p 
					b 3. Порядок использования материалов изданий.
				p В печатных изданиях или в иных формах на материальных носителях обязательно указание «По материалам журнала «Фома» и сайта foma.ru».
				p При использовании материалов в сети Интернет во всех случаях кроме личных обязательна гиперссылка с текстом "Источник: foma.ru" в начале публикации, ведущая непосредственно на источник материала на сайте foma.ru. Ссылки на главную страницу сайта foma.ru, либо на любую его внутреннюю страницу кроме страницы самого материала корректными не считаются.
				p При использовании материалов в электронных эфирных средствах массовой информации, материал должен сопровождаться поясняющим роликом, содержание которого отдельно согласуется с Изданиями.
				p Ссылка на источник или гиперссылка должны быть помещены в начале используемого текстового материала, а также непосредственно под используемым аудио-, видео-, фотоматериалом, графическим материалом Изданий. Размеры шрифта ссылки на источник или гиперссылки не должны быть меньше размера шрифта текста, в котором используются материалы, либо размера шрифта текста пользователя, сопровождающего аудио-, видео-, фотоматериалы и графические материалы.


				p
					b 4. Порядок получения согласия на использование материалов Изданий:
				p Для получения согласия на использование материалов Изданий необходимо направить письменный запрос на адрес 
				p Для организаций и лиц из п. 2.2 настоящих правил согласием на использование материалов считается ответ на запрос, отправленный в редакцию по электронной почте, при условии что данный ответ будет содержать очевидное согласие редакции на использование материалов. При этом Издания оставляют за собой право оговорить условия и особые правила использования их материалов, а также в любой момент отозвать свое разрешение без объяснения причин.
				p Порядок получения разрешений организациями и лицами не указанными в п 2.2 настоящих правил определяется Изданиями в индивидуальном порядке и может носить как некоммерческий, так и коммерческий характер.