extends ./_layout

block content
	div(class="page-title")
		div(class="container")
			div(class="page-title__content")
				h1 Результат поиска


	div(class="news-list")
		div(class="container")
			div(class="input-search")
				form(action="/")
					input(type="text" placeholder="Введите текст")
					button(class="btn btn-size-big")
						span Искать
						svg
							use(xlink:href="#search")
						
			div(class="news-list__items view-archive")
				div(class="news-list__item")
					div(class="news-list__item-title")
						a(href="#") 
							| «Любовь – когда мне хорошо». А может, любовь – это сказать «нет» самому себе?
						svg
							use(xlink:href="#arrow")
						
					div(class="news-list__item-desc")
						p Кто в наше время может про себя сказать, что любит по-настоящему



				div(class="news-list__item")
					div(class="news-list__item-title")
						a(href="#") 
							| Только про любовь
						svg
							use(xlink:href="#arrow")
						
					div(class="news-list__item-desc")
						p «Вы что там все, с дуба рухнули? Возмущает ханжество ваших, Мария Городова, статей. Впаривать малолеткам слова каких-то там святых отцов, когда обещали разговор про любовь…



				div(class="news-list__item")
					div(class="news-list__item-title")
						a(href="#") 
							| Любовь — это другое
						svg
							use(xlink:href="#arrow")
						
					div(class="news-list__item-desc")
						p Англичанин оказывается в Китае, среди буддистских монахов. Он видит их сердечную привязанность друг к другу, чистые дружеские объятья — и плачет прямо перед камерой. Потому что, поясняет он, в его мире этого — чистой, простой дружеской привязанности — уже нет. Любое прикосновение одного мужчины к другому воспринимается однозначно.



				div(class="news-list__item")
					div(class="news-list__item-title")
						a(href="#") 
							| Любовь. Любовь к тому, что ниже человека
						svg
							use(xlink:href="#arrow")
						
					div(class="news-list__item-desc")
						p Как-то зябко. Что ж так зябко-то, а?.. Миссия, катехизация, воцерковление, насаждение разумного-доброго-вечного квадратно-гнездовым методом (если кто еще помнит, что это такое) – все это, замечательно, кто ж спорит… Чё ж так зябко-то, братцы-сестрицы, а?!



				div(class="news-list__item")
					div(class="news-list__item-title")
						a(href="#") 
							| А есть ли любовь?
						svg
							use(xlink:href="#arrow")
						
					div(class="news-list__item-desc")
						p Зависимые отношения выглядят по-разному. Это может быть деспотичный муж и забитая жена. Или, наоборот, мужчина-подкаблучник и уверенная в себе женщина, вздыхающая о том, что ей достался такой 'недотепа'. Сценариев, по которым работает зависимость, великое множество. Их объединяет одно – в этих союзах нет счастья...



	div(class="pagination")
		button(class="more-load btn btn-size-big") Смотреть больше
		ul 
			li(class="active")
				a(href="#") 1
			li 
				a(href="#") 2
			li 
				a(href="#") 3
			li 
				a(href="#") 4
			li 
				span ...
			li 
				a(href="#") 25