extends ./_layout

block content
	div(class="page-title")
		div(class="container")
			div(class="page-title__content")
				h1 Сотрудники и авторы


	div(class="workers")
		div(class="container")
			div(class="workers-items")
				a(href="#" class="workers__item")
					div(class="workers__item-img")
						img(src="images/img_24.jpg")
					div(class="workers__item-title")
						p Ольга Каменева


				a(href="#" class="workers__item")
					div(class="workers__item-img")
						img(src="images/img_25.jpg")
					div(class="workers__item-title")
						p Ольга Каменева


			
				a(href="#" class="workers__item")
					div(class="workers__item-img")
						img(src="images/img_26.jpg")
					div(class="workers__item-title")
						p Ольга Каменева



				a(href="#" class="workers__item")
					div(class="workers__item-img")
						img(src="images/img_24.jpg")
					div(class="workers__item-title")
						p Ольга Каменева


				a(href="#" class="workers__item")
					div(class="workers__item-img")
						img(src="images/img_25.jpg")
					div(class="workers__item-title")
						p Ольга Каменева


			
				a(href="#" class="workers__item")
					div(class="workers__item-img")
						img(src="images/img_26.jpg")
					div(class="workers__item-title")
						p Ольга Каменева


	
	div(class="workers-list")
		div(class="container")
			div(class="workers-list__letters")
				ul 
					li 
						a(href="#") А
					li 
						a(href="#") Б
					li 
						a(href="#") В
					li 
						a(href="#") Г
					li(class="active")
						a(href="#") Д
					li 
						a(href="#") Е
					li 
						a(href="#") Ж
					li 
						a(href="#") З
					li 
						a(href="#") И
					li 
						a(href="#") К
					li 
						a(href="#") Л
					li 
						a(href="#") М
					li 
						a(href="#") Н
					li 
						a(href="#") О
					li 
						a(href="#") П
					li 
						a(href="#") Р
					li 
						a(href="#") С
					li 
						a(href="#") Т
					li 
						a(href="#") У
					li 
						a(href="#") Ф
					li 
						a(href="#") Х
					li 
						a(href="#") Ц
					li 
						a(href="#") Ч
					li 
						a(href="#") Ш
					li 
						a(href="#") Щ
					li 
						a(href="#") Э
					li 
						a(href="#") Ю
					li 
						a(href="#") Я


			div(class="workers-list__peoples")
				ul 
					li 
						a(href="#") ДАВИДЮК Антоний, иеродиакон
					li 
						a(href="#") ДАВЫДОВ Константин
					li 
						a(href="#") ДАВЫДОВ Петр
					li 
						a(href="#") ДАДАШЕВА Ангелина
					li 
						a(href="#") ДАЛЕЦКАЯ Мария
					li 
						a(href="#") ДАЛЛАДА Олеся
					li 
						a(href="#") ДАЛЬСКАЯ Алина
					li 
						a(href="#") ДАНИЛИН Николай
					li 
						a(href="#") ДАНИЛОВ Евгений
					li 
						a(href="#") ДАНИЛОВА Анна
					li 
						a(href="#") ДАНИЛОВА Юлия
					li 
						a(href="#") ДАНИЛЬЧЕНКО Анастасия
					li 
						a(href="#") ДАРЬКИН Алексей
					li 
						a(href="#") ДАУТОВ Дмитрий
					li 
						a(href="#") ДАУТОВА Ольга
					li 
						a(href="#") ДВОРКИН Александр
					li 
						a(href="#") ДВОРНЯКОВА Ольга