.bottom {

}

.form-subscribe {
    @include breakpoint($laptop) {
        min-width: 375px;
    }

    @include breakpoint($desktop) {
        min-width: none;
    }

    p {
        font-size: 16px;
        color: var(--color-default);
        font-family: var(--font-roboto);
        text-transform: uppercase;
        font-weight: 500;
    }

    .input {
        position: relative;
        border-bottom: 1px solid #bbb;
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            border: 0;
            outline: none;
            font-size: 16px;
            padding: 15px 0;
            background-color: transparent;
        }
    }
}

.col-row {
    flex: 1 1 33.333333%;
    width: 33.333333%;
    padding: 0 40px;
}

footer {
    padding-bottom: 40px;
    margin-top: 100px;

    .line {
        width: 100%;
        height: 2px;
        background-color: var(--color-red);
        margin-bottom: 40px;
    }

    ul {
        &.menu {
            margin-bottom: 50px;

            li {
                a {
                    font-size: 16px;
                    color: var(--color-default);
                    font-family: var(--font-roboto);
                    text-transform: uppercase;
                    font-weight: 500;
                    padding: 10px 0;
                    display: block;
                    
                    @include transition();
    
                    &:hover {
                        color: var(--color-red);
                    }
                }
            }
        }

        &.social-links {
            display: flex;
            justify-content: space-between;
            max-width: 660px;
            margin-top: 50px;
            width: 100%;
            margin-bottom: -5px;

            li {
                a {
                    font-family: var(--font-oswald);
                    font-size: 25px;
                    text-transform: lowercase;
                    font-weight: 400;

                    @include transition();

                    &:hover {
                        color: var(--color-red);
                    }
                }
            }
        }

        &.phone-links {
            margin-top: 15px;

            li {
                a {
                    font-family: var(--font-oswald);
                    font-size: 25px;
                    text-transform: lowercase;
                    font-weight: 400;
                    margin-top: 30px;
                    display: block;

                    @include transition();

                    &:hover {
                        color: var(--color-red);
                    }
                }
            }
        }
    }
}

.footer-info {
    display: flex;

    &__left {
        flex: 1 1 66.666666%;
        width: 66.666666%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: self-start;
    }

    &__right {
        flex: 1 1 33.333333%;
        width: 33.333333%;
        padding-left: 50px;
        display: flex;
        align-items: flex-end;
    }
}