header {
    background: var(--color-red);

    .menuactive & {
        z-index: 1000;
        position: sticky;
        top: 0;
    }
}

.header {
    position: relative;
    z-index: 1000;
    background: var(--color-red);
    transition: .2s;

    .menuactive & {
        background: var(--background);

        @include breakpoint($laptop) {
            background: var(--color-red);
        }
    }

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 130px;

        @include breakpoint($tablet) {
            min-height: 170px;
        }
        
        a.btn {
            .searchactive & {
                opacity: 0;
                visibility: hidden;
            }
            
            @include breakpoint($desktop) {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .btn-color-white {
        .menuactive & {
            border-color: var(--color-red);
            color: var(--color-red);

            @include breakpoint($laptop) {
                border-color: #fff;
                color: #fff;

                &:hover {
                    color: var(--color-red);
                }
            }
        }
    }

    .btn-help {
        opacity: 0;
        transform: translateX(-10px);
        visibility: hidden;
        z-index: 10;
        display: none;

        @include breakpoint($tablet) {
            //position: absolute;
            //left: 225px;
        }

        .menuactive &{
            opacity: 1;
            transform: translateX(0);
            visibility: visible;
            display: block;
        }
    }

    .questionform-link {

        @include breakpoint($tablet) {
            display: block;
        }
    }

    &-btns {
        position: absolute;
        width: calc(100% - 20px);
        bottom: -45px;
        display: flex;
        justify-content: space-between;
        margin: 0 -10px;
        opacity: 0;
        visibility: hidden;

        .menuactive & {
            opacity: 1;
            visibility: visible;
        }

        @include breakpoint($tablet) {
            opacity: 1;
            visibility: visible;
            position: relative;
            width: auto;
            bottom: unset;
           // display: block;
        }

        a {
            width: 100%;
            margin: 0 10px;
            text-align: center;

            @include breakpoint($tablet) {
                width: auto;
                //margin: unset;
            }
        }
    }

    &-search {
        @include breakpoint($tablet) {
            position: relative;
        }

        &.active {
            input {
                transform: translateX(0);
                opacity: 1;
            }
        }

        form {
            position: absolute;
            width: calc(100% - 120px);
            overflow: hidden;
            height: 40px;
            left: 20px;
            bottom: 41px;

            @include breakpoint($tablet) {
                left: unset;
                right: -65px;
                width: 640px;
                bottom: unset;
            }

            @include breakpoint($laptop) {
                width: 325px;
            }
        }

        input {
            background-color: transparent;
            color: #fff;
            border: 0;
            border-bottom: 2px solid #fff;
            height: 34px;
            width: 650px;
            right: 0;
            top: 6px;
            position: relative;
            padding-left: 5px;
            transform: translateX(100%);
            opacity: 0.5;

            @include transition();

            &::placeholder {
                color: rgba(#fff, .7);

                .menuactive.searchactive & {
                    color: var(--color-default);

                    @include breakpoint($laptop) {
                        color: #fff;
                    }
                }
            }

            .menuactive.searchactive & {
                border-color: var(--color-default);

                @include breakpoint($laptop) {
                    border-color: #fff;
                }
            }

            @include breakpoint($tablet) {
                width: 650px;
            }

            @include breakpoint($laptop) {
                width: 325px;
            }
        }
    }

    &-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0 10px 0px;
        transition: .2s;

        .searchactive & {
            opacity: 0;
            visibility: hidden;

            @include breakpoint($laptop) {
                opacity: 1;
                visibility: visible;
                transform: translateX(-365px);
            }

            @include breakpoint($desktop) {
                transform: none;
            }
        }

        .menuactive & {
            visibility: hidden;
            transform: translateX(100px);
            opacity: 0;
        }

        @include breakpoint($tablet) {
            padding: 10px 0 30px 0px;
        }

        @include breakpoint($laptop) {
            padding: 20px 0 30px 0px;

            .menuactive & {
                visibility: visible;
                //transform: translateX(-465px);
                opacity: 1;
            }

            .menuactive.searchactive & {
                transform: translateX(-465px);
            }
        }

        @include breakpoint($desktop) {
            .menuactive.searchactive & {
                transform: translateX(-590px);
            }
        }

        img, svg {
            width: 125px;
            
            @include breakpoint($tablet) {
                width: 175px;
            }
        }

        span {
            color: #fff;
            text-transform: uppercase;
            font-size: 20px;
            display: none;
            margin-top: 15px;

            @include breakpoint($laptop) {
                display: block;
            }
        }
    }

    &-action {
        display: flex;
        padding-top: 25px;

        @include breakpoint($tablet) {
            padding-top: 0;
        }

        button {
            position: relative;
            margin-left: 25px;
            z-index: 1;

            @include breakpoint($tablet) {
                margin-left: 32px;
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }
}



.icon-btn {
    &__search {
        background-color: var(--color-red);

        svg {
            @include transition();

            .menuactive & {
                filter: invert(1);

                @include breakpoint($laptop) {
                    filter: none;
                }
            }
        }

        .menuactive & {
            background-color: transparent;
        }
    }

    &__menu {
        height: 23px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include transition();

        @include breakpoint($tablet) {
            height: 32px;
        }

        .menuactive & {
            transform: translateX(22px);

            @include breakpoint($tablet) {
                transform: translateX(30px);
            }
        }

        span {
            width: 40px;
            height: 1.5px;
            background-color: #fff;
            display: block;
            transition: .2s;

            .menuactive & {
                background-color: var(--color-default);

                @include breakpoint($laptop) {
                    background-color: #fff;
                }
            }

            @include breakpoint($tablet) {
                width: 52px;
                height: 2px;
            }

            .menuactive & {

                &:nth-child(2) {
                    transform: scale(0);
                }

                &:first-child {
                    transform: rotate(45deg) translateY(15px);
                    width: 30px;

                    @include breakpoint($tablet) {
                        transform: rotate(45deg) translateY(20px);
                        width: 42px;
                    }
                }
                &:last-child {
                    transform: rotate(-45deg) translateY(-16px);
                    width: 30px;

                    @include breakpoint($tablet) {
                        transform: rotate(-45deg) translateY(-21px);
                        width: 42px;
                    }
                }
            }
        }
    }
}

.nav {
    position: fixed;
    top: 130px;
    height: calc(100% - 130px);
    width: 100%;
    z-index: 100;
    transition: .4s;
    transform: translateY(-100%);
    opacity: 0.6;
    background-color: var(--background);
    padding-top: 60px;

    &.active {
        transform: translateY(0%);
        opacity: 1;
    }

    @include breakpoint($tablet) {
        top: 170px;
        height: calc(100% - 170px);
        padding-top: 0;
    }

    @include breakpoint($laptop) {
        position: relative;
        top: unset;
        height: unset;
        width: unset;
        z-index: unset;
        transform: translateY(0);
        opacity: 1;
        border-bottom: 2px solid var(--color-default);
        transition: .7s;
        transition-delay: .5s;

        .menuactive &{
            transform: translateY(-80px);
            transition-delay: 0s;
        }
    }

    .container {
        height: 100%;
        display: flex;
        justify-content: flex-end;

        @include breakpoint($laptop) {
            height: unset;
            display: block;
            justify-content: unset;
        }
    }

    nav {
        position: relative;
        height: 100%;
        width: 100%;
        //background: #cb2040;
  
        
        .menuactive & {
            //box-shadow: 0 0 150px rgba(0,0,0,.8);

            @include breakpoint($laptop) {
                box-shadow: none;
            }
        }

        @include breakpoint($tablet) {
            //width: 50%;
            padding-right: 0;
        }

        @include breakpoint($laptop) {
            height: unset;
            width: unset;
            background: unset;
            box-shadow: none;
        }

        /*&:before {
            position: absolute;
            content: '';
            background: #ca2140;
            width: 500px;
            height: 100%;
            left: 100%;
        }*/

        /*&:after {
            position: absolute;
            content: '';
            width: 100px;
            left: -80px;
            height: 100%;
            top: -20px;
            border: 20px solid #cb2040;
            border-top-right-radius: 60px;
            border-left: 0;
            border-bottom: 0;
        }*/

        @include breakpoint($laptop) {
            &::before, &::after {
                display: none;
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            margin: 0;
            flex-direction: column;

            @include breakpoint($tablet) {
                overflow: hidden;
            }

            @include breakpoint($laptop) {
                flex-direction: row;
                margin: 0 -15px;
                overflow: unset;
            }

            li {
                position: relative;
                flex: 2 1 auto;
                text-align: left;
                transition: .3s;

                @include breakpoint($tablet) {
                   // margin-bottom: 5px;
                }

                @include breakpoint($laptop) {
                    text-align: center;
                    margin-bottom: 0px;
                }

                &:last-child {
                    @include breakpoint($laptop) {
                        &:before {
                            display: none;
                        }
                    }
                }

                /*@include breakpoint($tablet) {
                    &:before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 1px;
                        background-color: rgba(255,255,255,0.2);
                        left: 0px;
                        top: calc(50% - 0.5px);
                        z-index: 0;
                        transform: translateX(-100%);
                        transition: 1s;
                        opacity: 0;
                    }
                }*/

                @include breakpoint($laptop) {
                    &:before{
                        position: absolute;
                        content: '';
                        width: 1px;
                        height: 40px;
                        background: rgba(0,0,0,0.25);
                        left: 100%;
                        top: 6px;
                        opacity: 1;
                    }
                }

                /*&:hover {
                    @include breakpoint($tablet) {
                        transform: translateX(-16px);
                    }

                    @include breakpoint($laptop) {
                        transform: translateX(0px);
                    }

                    &:before {
                        @include breakpoint($tablet) {
                            transform: translateX(0);
                            opacity: 1;
                        }
                    }
                    
                    a {
                        //box-shadow: 0 0 0 1px rgba(255,255,255,0.2);
                        &:before {
                            opacity: 1;
                            transition-delay: .4s;
                        }
                    }
                }*/

                a {
                    position: relative;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: var(--color-default);
                    font-family: var(--font-roboto);
                    font-size: var(--size-big);
                    font-weight: 500;
                    padding: 15px 0px;
                    display: inline-block;
                    transition: .3s;
                    width: 100%;
                    transition-delay: .5s;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.25);

                    @include breakpoint($tablet) {
                        background-color: var(--color-red);
                    }

                    @include breakpoint($tablet) {
                        background-color: transparent;
                    }

                    @include breakpoint($laptop) {
                        border-bottom: 0;
                    }

                    &:before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 30px;
                        top: 50%;
                        transform: translateY(-50%);
                        border: 1px solid rgba(255,255,255,.2);
                        left: 0;
                        border-radius: 50px;
                        opacity: 0;
                        transition: .2s;
                    }

                    @include breakpoint($tablet) {
                        position: relative;
                        padding: 15px 15px;
                        z-index: 10;
                        margin-right: -15px;
                    }

                    @include breakpoint($laptop) {
                        color: var(--color-default);
                        padding: 15px 0px;
                        margin-right: 0px;
                        border-radius: 0;
                    }

                    @include transition();

                    &:hover {
                        color: var(--color-red);

                        @include breakpoint($laptop) {
                            color: var(--color-red);
                        }
                    }

                    @include breakpoint($laptop) {
                        font-size: var(--size-default);
                    }

                    @include breakpoint($desktop) {
                        font-size: var(--size-big);
                    }
                }
            }
        }
    }
}