.news {
    &-home {
        padding-top: 40px;

        @include breakpoint($laptop) {
            padding-top: 140px;
        }

        &__sidebar {
            padding-top: 30px;

            @include breakpoint($tablet) {
                display: flex;
                flex-direction: row-reverse;
                margin: 0 -20px;
                padding-top: 40px;

                > div {
                    flex: 1 1 50%;
                    width: 50%;
                    padding: 0 20px;
                }
            }
            
            @include breakpoint($laptop) {
                margin: 0;
                display: block;
                padding-top: 0;

                > div {
                    flex: unset;
                    width: unset;
                    padding: unset;
                }
            }
        }

        &__main {
            //padding-top: 67px;

            &-img {
                position: relative;
                margin: -10px -20px 0px -20px;

                @include breakpoint($tablet) {
                    margin: 0;
                }

                img {
                    max-width: 100%;
                }
            }

            &-human {
                position: absolute;
                border: 4px solid var(--color-red);
                overflow: hidden;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                bottom: -35px;
                right: 20px;

                @include breakpoint($tablet) {
                    bottom: calc(-100% + 40px);
                    right: 0;
                    width: 140px;
                    height: 140px;
                }

                @include breakpoint($laptop) {
                    width: 120px;
                    height: 120px;
                    right: 20px;
                    top: calc(100% + 25px);
                    bottom: unset;
                }

                @include breakpoint($desktop) {
                    width: 140px;
                    height: 140px;
                    right: 40px;
                    top: unset;
                    bottom: -55px;
                }
            }
        }

        h2 {
            max-width: 720px;
            text-transform: uppercase;
            margin-bottom: 0;
            margin-top: 20px;

            @include breakpoint($tablet) {
                margin-top: 30px;
            }

            @include breakpoint($laptop) {
                max-width: 520px;
                margin-top: 25px;
            }

            @include breakpoint($desktop) {
                max-width: 720px;
                margin-top: 30px;
            }

            a {
                @include transition();

                &:hover {
                    color: var(--color-red);
                }
            }
        }

        p {
            font-size: 25px;
            font-family: var(--font-roboto);
            color: var(--color-default);
            margin-top: 20px;
            margin-bottom: 10px;
        }


        &__sidebar-title {
            border-bottom: 2px solid var(--color-default);
            margin-bottom: 20px;

            h3 {
                font-size: 31px;
                text-transform: uppercase;
                font-weight: 400;
                color: var(--color-default);
                margin-bottom: 8px;

                @include breakpoint($tablet) {
                    height: 75px;
                    display: flex;
                    align-items: flex-end;
                }

                @include breakpoint($laptop) {
                    height: auto;
                    display: block;
                }
            }
        }


        &__block-day {
            position: relative;
            margin-top: 0px;
            margin-bottom: 45px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 25px;

            @include breakpoint($tablet) {
                border-bottom: 0;
                padding-bottom: 0;
            }

            @include breakpoint($laptop) {
                margin-top: -35px;
            }

            @include breakpoint($desktop) {
                margin-top: -76px;
            }

            &__content {
                position: relative;
                display: flex;
                justify-content: space-between;
                margin-top: 40px;

                &:before {
                    position: absolute;
                    content: '';
                    background-color: #bbb;
                    width: 1px;
                    height: calc(100% + 100px);
                    left: -20px;
                    top: -42px;
                    display: none;

                    @include breakpoint($tablet) {
                        display: block;
                    }

                    @include breakpoint($laptop) {
                        display: none;
                    }
                }
            }

            p.date {
                margin-top: 0;
                margin-bottom: 10px;
                margin-left: -6px;

                span{
                    display: block;

                    &.date__day {
                        font-size: 149px;
                        font-weight: 500;
                        line-height: 95pt;

                        @include breakpoint($laptop) {
                            font-size: 120px;
                        }

                        @include breakpoint($desktop) {
                            font-size: 149px;
                        }
                    }

                    &.date__month {
                        position: relative;
                        font-size: 35px;
                        text-transform: uppercase;
                        line-height: 50pt;
                        padding-left: 5px;
                        line-height: 15pt;
                        margin-top: 30px;

                        @include breakpoint($laptop) {
                            line-height: 50pt;
                            font-size: 40pt;
                            margin-top: unset;
                        }

                        @include breakpoint($desktop) {
                            font-size: 35px;
                        }
                    }
                }
            }

            .img {
                width: 140px;
                height: 140px;
                border-radius: 50%;
                overflow: hidden;
                border-radius: 50%;

                @include breakpoint($laptop) {
                    width: 120px;
                    height: 120px;
                }

                @include breakpoint($desktop) {
                    width: 140px;
                    height: 140px;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}


.article {
    &-comment {
        &__text {
            p {
                font-size: 16px;
                line-height: 21px;
            }
        }

        &__info {
            display: flex;
            align-items: center;

            p {
                font-size: 14px;
                font-weight: 600;
                padding: 0;
                margin: 0;
            }

            span {
                position: relative;
                color: #969696;
                margin-left: 30px;

                &:before {
                    position: absolute;
                    content: '';
                    width: 5px;
                    height: 5px;
                    background-color: #000;
                    border-radius: 50%;
                    left: -17px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    &-comments {
        &-load {
            display: flex;
            justify-content: flex-end;
            padding-top: 30px;
        }

        &-list {
            &__item {
                border-bottom: 1px solid rgba(0,0,0,.25);
                padding: 45px 0 10px 0px;
            }
        }

        &-form {
            h3 {
                font-weight: 500;
                font-size: 35px;
                line-height: 52px;
                text-transform: uppercase;
            }
            
            form {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -10px;
                justify-content: space-between;

                .form-submit {
                    width: 100%;
                    justify-content: flex-end;
                    display: flex;
                    padding-right: 10px;
                }

                .form-input {
                    padding: 0 10px;
                    width: 100%;
                    margin-bottom: 25px;

                    &.input-half {
                        width: 50%;
                    }

                    input {
                        &[type="text"] {
                            width: 100%;
                            height: 65px;
                            padding: 20px;
                            border: 1px solid rgba(0,0,0,.25);
                            background-color: transparent;
                        } 
                    }

                    textarea {
                        width: 100%;
                        padding: 20px;
                        border: 1px solid rgba(0,0,0,.25);
                        background-color: transparent;
                        min-height: 215px;
                    }
                }
            }
        }
    }

    &-tags {
        padding: 30px 0;

        ul {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0;

            li {
                padding-left: 0;

                &:before{
                    display: none;
                }

                a {
                    display: block;
                    border: 1px solid #000;
                    text-transform: uppercase;
                    border-radius: 50px;
                    font-size: 12px;
                    padding: 5px 10px;
                    margin-right: 15px;

                    @include transition();

                    &:hover {
                        border-color: var(--color-red);
                    }
                }
            }
        }
    }

    &-info {
        border-top: 2px solid var(--color-red);
        border-bottom: 2px solid var(--color-red);
        padding: 25px 0;
        display: flex;
        justify-content: space-between;
        margin-top: 45px;

        &__date {
            font-size: 14px !important;
            font-weight: 500 !important;
        }

        &__actions {
            width: 235px;
            display: flex;
            border-left: 1px solid rgba(0,0,0,.25);
            justify-content: space-between;
            padding-left: 45px;

            button {
                background-color: transparent;
                border: 0;
                text-transform: uppercase;
                display: flex;
                align-items: center;

                svg {
                    width: 25px;
                    max-height: 22px;
                    margin-right: 10px;
                }
            }
        }
    }

    &-audio {
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        padding-bottom: 15px;

        h3 {
            font-weight: 500;
            font-size: 35px;
            line-height: 52px;
            text-transform: uppercase;
            border-bottom: 1px solid rgba(0, 0, 0, 0.25);
            padding-bottom: 15px;
        }

        &__content {
            display: flex;
        }

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-right: 15px;
            max-width: 50%;

            p {
                font-size: 18px;
                line-height: 23px;
                font-weight: 500;
                color: #272727;
                font-family: var(--font-roboto);
            }

            span {
                color: #272727;
                opacity: 0.7;
                font-family: var(--font-roboto);
                font-size: 14px;
            }
        }

        &__player {
            display: flex;
            align-items: center;
            margin-top: -20px;
            width: 50%;

            #waveform {
                width: 300px;
            }

            .player {
                width: 100%;

                @include breakpoint($laptop) {
                    width: 230px;
                }

                @include breakpoint($desktop) {
                    width: 300px;
                }
            }

            &__content {
                display: flex;
                justify-content: space-between;
            }

            svg {
                max-height: 100px;
            }

            .btn-play {
                position: relative;
                min-width: 70px;
                height: 70px;
                border: 1px solid #ccc;
                border-radius: 50%;
                margin-right: 15px;
                cursor: pointer;

                @include transition();

                &:hover {
                    border-color: var(--color-red);
                    box-shadow: inset 0 0 0 3px var(--color-red);

                    &:after {
                        border-color: transparent transparent transparent var(--color-red);
                    }
                }

                &.paused {
                    border-color: var(--color-red);

                    &:after {
                        border-style: double;
                        border-width: 0px 0 0px 10px;
                        border-color: transparent transparent transparent var(--color-red);
                    }
                }

                &:after {
                    position: absolute;
                    content: '';
                    border: 0;
                    background: transparent;
                    box-sizing: border-box;
                    width: 0;
                    height: 15px;
                    border-color: transparent transparent transparent #202020;
                    transition: 100ms all ease;
                    cursor: pointer;
                    border-style: solid;
                    border-width: 7px 0 8px 12px;
                    left: 50%;
                    top: 50%;
                    transform: translateX(calc(-50% + 1px)) translateY(-50%);
                }
            }
        }
    }

    &-elements {
        margin: 0 -20px;

        @include breakpoint($tablet) {
            margin-top: 20px;
        }

        @include breakpoint($laptop) {
            display: flex;
            margin: 0 -40px;
            border-top: 0;
        }

        .swiper-button {
            justify-content: flex-end;
            margin-top: 25px;
            padding-right: 10px;

            @include breakpoint($laptop) {
                display: none;
            }
        }
    
        .article-element {
            position: relative;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: auto;

            @include breakpoint($laptop) {
                flex: 1 1 33.3333333%;
                width: 33.3333333%;
                padding: 0 40px;
            }

            &::before {
                position: absolute;
                content: '';
                background-color: #bbb;
                width: 1px;
                height: 100%;
                left: 0;
                display: none;

                @include breakpoint($tablet) {
                    display: block;
                }
            }

            &:first-child {
                &::before {
                    display: none;
                }
            }
        }

        &__list {
            flex-direction: column;
            margin: 0;

            @include breakpoint($tablet) {
                margin-top: -30px;
            }

            &.swiper-dbl {
                .article-element {
                    flex: none;

                    @include breakpoint($tablet) {
                        flex: 1 1 100%;
                    }
                }
            }

            &.list-pics {
                @include breakpoint($tablet) {
                    padding-top: 30px;
                    border-bottom: 0;
                    margin: 0 -20px;
                }

                @include breakpoint($laptop) {
                    padding-top: 0;
                    border-bottom: 0;
                    margin: 0;
                }

                .swiper-wrapper {
                    @include breakpoint($laptop) {
                        flex-direction: column;
                    }
                }

                .article-element {
                    @include breakpoint($tablet) {
                        padding: 0 20px;
                        border-bottom: 0;
                    }

                    @include breakpoint($laptop) {
                        padding: unset;
                        border-top: 1px solid #bbb;
                        padding: 12px 0 25px;
                    }

                    &:first-child {
                        border-top: 0;

                        &::before {
                            display: none;
                        }
                    }

                    &::before {
                        @include breakpoint($tablet) {
                            display: block;
                        }
                        
                        @include breakpoint($laptop) {
                            display: none;
                        }
                    }
                }
            }

            @include breakpoint($tablet) {
                margin-top: 0px;
                border-bottom: 1px solid #bbb;
            }

            @include breakpoint($laptop) {
                margin: 0;
                margin-top: -30px;
                border-bottom: 0;
            }
            
            .article-element {
                border-bottom: 1px solid #bbb;
                padding: 12px 0 25px 0;
                flex: 1 1 100%;
                width: 100%;
                
                @include breakpoint($laptop) {
                    flex: 1 1 100%;
                    width: 100%;
                    padding: 12px 0 25px;
                }

                &::before {
                    display: none;
                }

                &:last-child {
                    border-bottom: 0;
                }
            }

            .article-element__big{
                padding-top: 20px;

                &:first-child {
                    @include breakpoint($laptop) {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    &-element {
        &__big {
            border-bottom: 1px solid #bbb;
            padding-bottom: 20px;

            @include breakpoint($laptop) {
                border-bottom: 0;
                padding-bottom: 0;
            }

            a.link-title {
                font-size: 31px;
                font-family: var(--font-oswald);
                font-weight: 400;
                padding: 0 0 10px 0;
                line-height: 26pt;
            }

            .article-element__img {
                max-height: 520px;
                overflow: hidden;
                margin-bottom: 15px;
            }
        }

        &__desc {
            font-size: var(--size-big);
            color: var(--color-default);
            margin-bottom: 20px;

            span {
                font-family: var(--font-roboto);
            }
        }

        &__img {
            img {
                width: 100%;
            }
        }

        &__bottom {
            display: flex;
            justify-content: space-between;
        }

        &__video {
            position: relative;

            img {
                width: 100%;
            }
        }

        &__date {
            display: block;
            font-family: var(--font-roboto);
            font-size: var(--size-default);
            color: rgba(39, 39, 39, 0.7);
        }

        &__title {
            &.title-author {
                display: flex;
                justify-content: space-between;
            }

            &-img {
                min-width: 65px;
                min-height: 65px;
                max-width: 65px;
                max-height: 65px;
                border-radius: 50%;
                overflow: hidden;
                margin-top: 18px;

                @include breakpoint($tablet) {
                    margin-top: 0;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}

