
* {
	box-sizing: border-box;
	font-family: var(--font-oswald);
}

html, body {
	background-color: #f1f1f1 !important;
}

input {
	outline: none;
}

a {
	color: var(--color-default);
	text-decoration: none;

	@include transition();

	&:hover {
		color: var(--color-red);
	}

	&.link {
		&-title {
			font-size: var(--size-big);
			font-family: var(--font-roboto);
			font-weight: 500;
			color: var(--color-default);
			margin-bottom: 15px;
			display: block;

			@include transition();

			&:hover {
				color: var(--color-red);
			}
		}
		
		&-label {
			position: relative;
			font-size: var(--size-default);
			font-family: var(--font-roboto);
			color: var(--color-default);
			text-transform: uppercase;
			font-weight: 500;
			padding: 15px 0 15px 25px;
    		display: block;

			@include transition();

			&:before {
				position: absolute;
				content: '';
				width: 15px;
				height: 15px;
				background-color: #D098A2;
				border-radius: 50%;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}

			&:hover {
				color: var(--color-red);
			}
		}
	}
}

.d-flex {
	display: flex;
	align-items: flex-start;
}

.flex {
	&-align {
		&-start {
			align-items: flex-start;
		}

		&-center {
			align-items: center;
		}

		&-end {
			align-items: flex-end;
		}
	}

	&-justify {
		&-start {
			justify-content: flex-start;
		}

		&-center {
			justify-content: center;
		}

		&-end {
			justify-content: flex-end;
		}
	}
}

.container {
	margin: 0 auto;
	width: 1280px;

	@include breakpoint($mobile) {
		width: 640px;
	}

	@include breakpoint($tablet) {
		width: 768px;
	}

	@include breakpoint($laptop) {
		width: 1024px;
	}

	@include breakpoint($desktop) {
		width: 1280px;
	}
}

.btn {
	position: relative;
	font-size: var(--size-default);
	color: var(--color-default);
	text-decoration: none;
	border: 1px solid var(--color-red);
	border-radius: 50px;
	text-transform: uppercase;
	padding: 16px 30px;
	@include transition();

	&:hover {
		background-color: var(--color-red);
		color: #fff;
	}

	&-size {
		&-big {
			padding: 17px 20px;
			min-width: 200px;
			font-family: var(--font-oswald);
			font-weight: 500;
		}
	}

	&-color {
		&-white {
			border: 1px solid #fff;
			color: #fff;

			&:hover {
				background-color: #fff;
				color: #272727;
			}
		}

		&-red {
			background-color: var(--color-red);
			border: 1px solid var(--color-red);
			color: #fff;
		}
	}

	&-video {
		position: absolute;
		width: 50px;
		height: 50px;
		padding: 0;
		border: 0;
		background-color: var(--color-red);
		border-radius: 50%;
		top: 50%;
		left: 50%;
		@include transition();
		transform: translateX(-50%) translateY(-50%);

		&:hover {
			box-shadow: 0 0 0 5px #fff, 0 0 0 8px var(--color-red);
		}

		&::after {
			position: absolute;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 7.5px 0 7.5px 12px;
			border-color: transparent transparent transparent #ffffff;
			left: 50%;
			top: 50%;
			transform: translateX(calc(-50% + 2px)) translateY(calc(-50% + 1px));
		}
	}
}

.icon-btn {
	background-color: transparent;
	border: 0;
	padding: 0;
    display: flex;

	svg {
		width: 34px;
		height: 34px;
	}
}

.marquee {
	marquee {
		color: var(--color-red);
		text-transform: uppercase;
		font-size: 40px;
		padding: 120px 0px 100px 0;

		span {
			position: relative;
			padding: 0px 20px;

			&:before{
				position: absolute;
				content: '';
				width: 10px;
				height: 10px;
				background-color: var(--color-red);
				left: -8px;
				border-radius: 50%;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

.col {
	&-left, &-right{
		position: relative;

		&::before {
			position: absolute;
			content: '';
			background-color: #bbb;
			width: 1px;
			height: 100%;
			display: none;
			
			@include breakpoint($desktop) {
				display: block;
			}
		}
	}

	&-left {
		&::before {
			right: -1px;
		}
	}

	&-right {
		&::before {
			left: 0;
		}
	}
}

h2 {
	font-size: 46px;
    font-weight: 500;
    letter-spacing: 0.015em;
    line-height: 60px;
}

h3 {
	font-size: 31px;
	line-height: 28pt;
}

h4 {
	font-size: 25px;
}

h6 {
	font-size: 22px;
	font-family: var(--font-roboto);
	font-weight: 400;
	line-height: 30px;
	margin-bottom: 15px;
}

.text {
	&-uppercase {
		text-transform: uppercase;
	}
}


.home-type {
	margin-bottom: 100px;

	@include breakpoint($laptop) {
		margin-bottom: 80px;
	}

	@include breakpoint($desktop) {
		margin-bottom: 100px;
	}

	&__title {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		border-bottom: 2px solid var(--color-default);
		padding-bottom: 15px;
		margin-bottom: 55px;

		h3 {
			font-size: 35px;
			text-transform: uppercase;
			color: var(--color-default);
			font-weight: 500;
			margin-bottom: 0px;
		}

		a{
			text-transform: uppercase;
			font-size: var(--size-default);
			color: var(--color-default);
			border: 1px solid var(--color-default);
			border-radius: 50px;
			padding: 6px 15px;

			@include transition();

			&:hover {
				background-color: var(--color-red);
				border-color: var(--color-red);
				color: #fff;
			}
		}
	}
}


.home-share {
	position: relative;
	padding-top: 20px;
	padding-bottom: 120px;

	&__icon {
		svg {
			width: 145px;
		}
	}

	&__img {
		border-radius: 50%;
		overflow: hidden;
		box-shadow: 0 0 0 15px #f1f1f1, 0 0 0 16px var(--color-red);
		position: absolute;
		display: flex;
		right: 120px;
		top: -5px;

		@include breakpoint($laptop) {
			box-shadow: 0 0 0 10px #f1f1f1, 0 0 0 11px var(--color-red);
			top: 50%;
    		transform: translateY(calc(-50% - 15px));
		}

		@include breakpoint($desktop) {
			box-shadow: 0 0 0 15px #f1f1f1, 0 0 0 16px var(--color-red);
			top: -5px;
			transform: none;
		}

		img {
			width: 180px;
			height: 180px;

			@include breakpoint($laptop) {
				width: 140px;
				height: 140px;
			}

			@include breakpoint($desktop) {
				width: 180px;
				height: 180px;
			}
		}
	}

	p {
		font-size: 35px;
		text-transform: uppercase;
		color: var(--color-default);
		font-weight: 500;
		line-height: 52px;
		margin-bottom: 25px;
		margin-top: 50px;

		@include breakpoint($laptop) {
			max-width: 500px;
		}

		@include breakpoint($desktop) {
			max-width: none;
		}

		span {
			display: block;
			color: var(--color-red);
		}
	}

	button {
		font-family: var(--font-oswald);
		color: var(--color-default);
		border-color: var(--color-red);
		font-weight: 500;
		min-width: 200px;
		padding: 17px 30px;

		&:hover {
			background-color: var(--color-red);
			color: #fff;
		}
	}
}

.page-title {
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		border-bottom: 2px solid var(--color-default);
		padding-bottom: 15px;
		margin-bottom: 55px;
		margin-top: 50px;
	}

	h1 {
		color: var(--color-default);
    	font-weight: 500;
		font-size: 35px;
		text-transform: uppercase;
		margin-bottom: 0;
	}
}

.page-block {
	color: var(--color-default);
	font-family: var(--font-roboto);
	padding-bottom: 20px;
	padding-top: 50px;

	&__content {
		max-width: 725px;
		margin: 0 auto;

		&.longread {
			margin-top: -50px;
		}

		h1 {
			line-height: 52px;
			font-size: 35px;
			font-weight: 500;
		}

		ul, li, p, span, b {
			font-family: var(--font-roboto);
			font-weight: 400;
		}

		div {
			&.text-small {
				border-top: 2px solid #272727;
				border-bottom: 2px solid #272727;
				padding: 10px 0;
				margin: 10px 0;

				p {
					font-weight: 400;
					font-size: 16px;
					line-height: 22px;
				}
			}
		}
	
		blockquote {
			background-color: #E4CED2;
			font-family: var(--font-roboto);
			font-size: 25px;
			color: var(--color-default);
			text-align: center;
			margin: 0;
			padding: 50px;
			text-transform: uppercase;
			letter-spacing: 0.02em;
			line-height: 35px;
		}

		b {
			font-weight: 600;
		}

		p {
			font-size: 19px;
			line-height: 26px;

			&.text-red {
				position: relative;
				color: var(--color-red);
				font-size: 25px;
				line-height: 35px;
				font-weight: 500;
				text-transform: uppercase;
				padding-left: 20px;
				display: block;
				width: 100%;
				overflow: auto;

				&:before {
					position: absolute;
					content: '';
					width: 2px;
					height: calc(100% - 20px);
					left: 0;
					top: 10px;
					background-color: var(--color-red);
				}
			}
		}

		img {
			max-width: 100%;
			padding: 10px 0;
			margin-bottom: 15px;

			&[align="left"] {
				margin-right: 20px;
			}

			&[align="right"] {
				margin-left: 20px;
			}
		}

		ul {
			margin-bottom: 30px;

			li {
				position: relative;
				font-size: 19px;
				padding-left: 25px;
				margin-bottom: 8px;

				&:before {
					position: absolute;
					content: '';
					background-color: var(--color-default);
					width: 4px;
					height: 4px;
					border-radius: 50%;
					left: 10px;
					top: 50%;
					transform: translateY(calc(-50% + 1px));
				}
			}
		}
	}
}

.page-block__content {
	.longread {

		&-head {
			position: relative;
			min-height: 810px;
			display: flex;
			align-items: flex-end;
			padding-bottom: 140px;

			&__img {
				position: absolute;
				height: 810px;
				bottom: 0;

				&:after {
					position: absolute;
					content: '';
					background-color: #272727;
					width: 100%;
					height: 100%;
					opacity: 0.4;
					top: 0;
					left: 0;
				}
			}

			img {
				position: absolute;
				padding: 0;
				max-width: initial;
				width: 100%;
				max-height: 810px;
    			object-fit: cover;
			}

			h1 {
				position: relative;
				color: #fff;
				padding-right: 15px;
			}
		}

		&-paragraphs {
			h2 {
				font-size: 35px;
				text-transform: uppercase;
				border-bottom: 1px solid rgba(0, 0, 0, 0.25);
				margin-bottom: 0;
				padding-bottom: 20px;
				padding-top: 20px;
			}

			ul {
				counter-reset: list;
				
				li {
					border-bottom: 1px solid rgba(0, 0, 0, 0.25);
					margin-bottom: 0;

					&:before {
						counter-increment: list;
						content: counter(list) ". ";
						background-color: transparent;
						font-size: 25px;
						font-family: var(--font-oswald);
						left: 0;
						top: 27.5px;
						transform: none;
					}
					a {
						display: flex;
						justify-content: space-between;
						align-items: center;

						p {
							font-size: 25px;
							font-family: var(--font-oswald);
							font-weight: 400;

							span {
								display: block;
								font-size: 19px;
								font-family: var(--font-roboto);
								font-weight: 300;
								color: #272727;
								opacity: 0.7;
								margin-top: 10px;
							}
						}
					}

					svg {
						width: 16px;
						min-width: 16px;
						height: 18px;
					}
				}
			}
		}

		&-paragraph {
			margin-bottom: 60px;

			h3 {
				font-weight: 500;
				font-size: 35px;
				line-height: 52px;
				text-transform: uppercase;
			}

			h5 {
				font-size: 22px;
				font-family: var(--font-roboto);
				font-weight: 600;
			}

			img {
				&.wide {
					max-width: none;
				}
			}

			.swiper {
				padding: 40px 0;

				&-slide {
					max-height: 580px;
					overflow: hidden;
				}
				img {
					
				}

				&-button {
					position: relative;
    				display: flex;
    				justify-content: center;
					margin-top: 50px;
				}

				&-button-next, &-button-prev {
					position: relative;
					height: 48px;
					left: unset;
    				right: unset;
					width: 48px;
					border: 1px solid var(--color-red);
					border-radius: 50%;
					margin: 0 10px;

					@include transition();

					&:after {
						font-size: 24px;
						color:#272727;
					}

					&:hover {
						box-shadow: inset 0 0 0 25px var(--color-red);

						&:after {
							color: #fff;
						}
					}
				}

				&-button-next {
					&:after {
						margin-left: 2px;
					}
				}

				&-button-prev {
					&:after {
						margin-left: -2px;
					}
				}
			}
		}
	}
}

ul.list-social {
	display: flex;
	margin-left: -30px;
	

	li {

		&:before {
			display: none;
		}

		svg {
			height: 30px;
			max-width: 45px;
		}
	}
}

.art-img {
	position: absolute;
    left: 100px;
    width: 120px;
    height: 120px;
	min-height: 120px;
    border-radius: 50%;
    overflow: hidden;
	margin-top: 25px;

	img {
		padding: 0;
	}
}

.workers {
	&-items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -20px;
	}

	&-list {
		margin-top: 100px;
		margin-bottom: 120px;

		&__peoples {
			margin-top: 50px;

			ul {
				column-count: 3;

				li {
					a {
						font-size: 19px;
						font-family: var(--font-roboto);
						margin-bottom: 20px;
						display: block;

						@include transition();

						&:hover {
							color: var(--color-red);
						}
					}
				}
			}
		}

		&__letters {
			ul {
				display: flex;
				justify-content: space-between;

				li {
					&.active {
						a {
							color: var(--color-red);
						}
					}

					a {
						font-size: 50px;
						text-transform: uppercase;

						@include transition();

						&:hover {
							color: var(--color-red);
						}
					}
				}
			}
		}
	}

	&__item {
		width: 33.333333%;
		max-width: 33.3333333%;
		padding: 0 20px 30px 20px;

		&:hover {
			&.workers__item-title {
				p {
					color: var(--color-red);
				}
			}
		}
		
		&-img {
			img {
				width: 100%;
			}
		}

		&-title {
			border-top: 2px solid #000;
			margin-top: 15px;

			p {
				font-size: 18px;
				font-family: var(--font-roboto);
			}
		}
	}
}


.worker {
	margin-bottom: 120px;

	&-content {
		display: flex;

		&__img {
			width: 33.333333%;

			img {
				width: 100%;
			}
		}

		&__text {
			width: 66.666666%;
			padding-left: 40px;

			h2 {
				font-size: 35px;
				text-transform: uppercase;
				margin-bottom: 0;
				color: var(--color-default);
    			font-weight: 500;
				margin-top: -15px;
			}

			p {
				font-size: 16px;
				font-family: var(--font-roboto);
				color: var(--color-default);
				line-height: 21px;
			}
		}
	}
}

.main-page {
	padding: 100px 0 0 0;

	h1 {
		color: var(--color-default);
		margin-bottom: 30px;
	}

	ul {
		li {
			a {
				display: block;
				font-family: var(--font-roboto);
				font-size: 16px;
				margin-bottom: 15px;

				@include transition();

				&:hover {
					color: var(--color-red);
				}
			}
		}
	}
}

.news-list {
	padding-bottom: 80px;

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -20px;

		&.view-archive {
			margin: 0;

			.news-list__item {
				position: relative;
				display: flex;
				flex-direction: column;
				max-width: 100%;
				flex: 1 1 100%;
				padding: 50px 0 20px 0;

				&:after {
					position: absolute;
					content: '';
					background-color: rgba(0, 0, 0, 0.25);
					width: 100%;
					height: 1px;
					bottom: 0;
				}

				&:first-child {
					padding-top: 0;
				}

				&-bottom {
					display: flex;
    				justify-content: space-between;

					svg {
						width: 18px;
						height: 18px;
					}
				}

				&-info {
					padding-top: 5px;
				}

				&-title {
					margin-bottom: 5px;

					a {
						font-size: 31px;
					}
				}
			}
		}

		&.view-list {
			margin: 0;

			.news-list__item {
				position: relative;
				display: flex;
				max-width: 100%;
				flex: 1 1 100%;
				padding: 50px 0;

				&:after {
					position: absolute;
					content: '';
					background-color: rgba(0, 0, 0, 0.25);
					width: calc(100% - 40px);
					height: 1px;
					bottom: 0;
				}

				&:first-child {
					padding-top: 0;
				}

				&:last-child {
					&::after {
						display: none;
					}
				}

				&-title {
					max-width: 710px;
				}

				&-desc {
					max-width: 600px;
				}

				&-img {
					height: 250px;

					img {
						width: 100%;
						height: 100%;
    					object-fit: cover;
					}
				}

				&-left {
					max-width: 33.3333333%;
					flex: 1 1 33.3333333%;
					padding-right: 40px;
				}

				&-right {
					max-width: 66.6666666%;
					flex: 1 1 66.6666666%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
				}
			}
		}
	}

	&__item {
		max-width: 33.3333333%;
		flex: 1 1 33.3333333%;
		padding: 50px 20px;

		&.item-big {
			position: relative;
			display: flex;
			max-width: 100%;
			flex: 1 1 100%;

			&:first-child {
				padding-top: 0;

				&::before {
					display: none;
				}
			}

			&:nth-child(2n+3) {
				flex-direction: row-reverse;

				.news-list__item-left {
					width: 66.6666666%;
					padding-left: 15px;
					padding-right: 0;
				}
	
				.news-list__item-right {
					width: 33.3333333%;
					padding-right: 25px;
					padding-left: 0;
				}
			}
			
			&:before {
				position: absolute;
				content: '';
				background-color: rgba(0, 0, 0, 0.25);
				width: calc(100% - 40px);
				height: 1px;
				top: 0;
			}

			&:after {
				position: absolute;
				content: '';
				background-color: rgba(0, 0, 0, 0.25);
				width: calc(100% - 40px);
				height: 1px;
				bottom: 0;
			}

			.news-list__item-left {
				width: 66.6666666%;
				padding-right: 15px;
			}

			.news-list__item-right {
				width: 33.3333333%;
				padding-left: 25px;
			}
		}

		&-desc {
			p {
				font-size: 16px;
				line-height: 21px;
				font-family: var(--font-roboto);
				color: var(--color-default);
				margin-bottom: 0;
			}
		}

		&-info {
			padding-top: 20px;

			p, span, a {
				font-family: var(--font-roboto);
				text-transform: uppercase;
				font-size: var(--size-default);
				color: #666;
				font-weight: 500;
				margin-left: 0;
			}

			a {
				font-weight: 500;
				color: var(--color-red);
				margin-left: 15px;
			}
		}

		&-title {
			//height: 60px;
			margin-bottom: 20px;

			a {
				font-size: 25px;
				line-height: 30px;

				@include transition();

				&:hover {
					color: var(--color-red);
				}
			}
		}

		&-img {
			img {
				width: 100%;
			}
		}
	}
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	ul {
		display: flex;
		padding: 35px 0;

		li {
			padding: 0 2px;
			
			&.active {
				a {
					opacity: 1;
					color: var(--color-red);
				}
			}

			a, span{
				color: #272727;
				opacity: 0.5;
				font-family: var(--font-roboto);
				font-size: var(--size-normal);
				padding: 0 5px;

				@include transition();

				&:hover {
					opacity: 1;
					color: var(--color-red);
				}
			}
		}
	}
}


.inputs {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;

	.input {
		width: 100%;
		padding: 0 20px 25px 20px;

		.checkbox {
			input {
				display: none;

				&:checked {
					&~label {
						&:after {
							transform: rotate(45deg) scale(1);
						}
					}
				}
			}
			label {
				position: relative;
				font-size: 12px;
				color: #777777;
				font-family: var(--font-roboto);
				padding-left: 25px;
				cursor: pointer;

				&:before {
					position: absolute;
					content: '';
					border: 1px solid rgba(39, 39, 39, 0.7);
					height: 16px;
					width: 16px;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
				}

				&:after {
					position: absolute;
					content: '';
					display: inline-block;
					transform: rotate(45deg) scale(0);
					height: 10px;
					width: 4px;
					border-bottom: 1px solid rgba(39,39,39,1);
					border-right: 1px solid rgba(39,39,39,1);
					left: 6px;
					top: 1px;

					@include transition();
				}
			}
		}

		input, textarea {
			width: 100%;
			background-color: transparent;
			font-size: 14px;
			padding: 20px;
			outline: none;

			&:focus {
				border-color: var(--color-red) !important;
			}

			&[type="text"], &[type="email"] {
				border: 1px solid #777777;
				height: 65px;
			}

			&[type="submit"] {
				max-width: 200px;
				padding: 17px 15px;

				&:hover {
					background-color: var(--color-red);
					color: #fff;
				}
			}
		}

		textarea {
			min-height: 215px;
		}

		&-half {
			width: 50%;
		}
	}
}


.contacts {
	&-form {
		padding-top: 50px;

		h2 {
			color: var(--color-default);
			text-transform: uppercase;
			font-size: 35px;
		}
	}


	&-info {
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__socials {
			position: relative;

			&:before{
				position: absolute;
				content: '';
				width: 1px;
				height: 115px;
				background-color: rgba(#000, 50%);
				left: -95px;
    			top: -50%;
    			transform: translateY(calc(-50% + 30px));
			}

			ul {
				li {
					padding: 0 8px;
				}
			}
		}

		&__links {
			&-item {
				margin-bottom: 30px;

				&:last-child {
					margin-bottom: 0;
				}

				span {
					font-size: 16px;
					font-family: var(--font-roboto);
					color: var(--color-default);
				}

				a {
					font-size: 25px;
					font-family: var(--font-roboto);
					font-weight: 500;
					margin-left: 10px;

					@include transition();

					&:hover {
						color: var(--color-red);
					}
				}
			}
		}
	}
}

.input-search {
	form {
		display: flex;

		input {
			&[type="text"] {
				width: 100%;
				border: 1px solid #272727;
				background-color: transparent;
				padding: 18px 20px;
				border-radius: 50px;
				margin-right: 25px;

				&::placeholder {
					color: #777;
				}
			}
		}
	}
}

.questions {
	&-list {
		padding-top: 100px;

		ul {
			column-count: 3;
    		margin: 0 -15px;

			li {
				padding: 30px 15px;
				break-inside: avoid;

				a {
					display: flex;
					justify-content: space-between;
    				align-items: flex-end;
					border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    				padding-bottom: 20px;

					&:hover {
						border-color: var(--color-red);

						span {
							color: var(--color-red);
						}
					}

					svg {
						width: 18px;
						height: 18px;
					}

					span {
						font-size: 35px;
						text-transform: uppercase;
						color: #676767;
						line-height: 22pt;
						
						@include transition();
					}
				}
			}
		}
	}
}

.vacancy {
	&-form {
		h2 {
			font-weight: 500;
			font-size: 35px;
			line-height: 52px;
			text-transform: uppercase;
			color: #272727;
		}
		
		form {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -20px;
			justify-content: space-between;

			.form-submit {
				width: 100%;
				display: flex;
				padding-left: 20px;
			}

			.form-input {
				padding: 0 20px;
				width: 100%;
				margin-bottom: 25px;

				&.input-file {
					width: 100%;

					label {
						font-family: var(--font-roboto);
						border-bottom: 1px solid rgba(0,0,0,.25);
						width: 100%;
						display: flex;
						padding: 10px 0;
						justify-content: space-between;

						svg {
							width: 16px;
							height: 19px;
						}
					}

					input {
						position: absolute;
						opacity: 0;
					}
				}

				&.input-half {
					width: 50%;
				}

				input {
					&[type="text"] {
						width: 100%;
						margin-bottom: 10px;
						padding: 10px 0 15px 0;
						border: 0;
						border-bottom: 1px solid rgba(0,0,0,.25);
						background-color: transparent;
					} 
				}

				textarea {
					width: 100%;
					padding: 20px;
					border: 1px solid rgba(0,0,0,.25);
					background-color: transparent;
					min-height: 215px;
				}
			}
		}
	}
}

.vacancies {
	&-item {
		color: #272727;
		margin-bottom: 100px;

		&__title {
			p {
				font-weight: 500;
				font-size: 25px;
				line-height: 37px;
				color: #272727;
				margin-top: 0;
			}
		}

		&__actions {
			display: flex;
			padding-top: 20px;

			button {
				background-color: transparent;
				display: block;
				border: 1px solid #000;
				text-transform: uppercase;
				border-radius: 50px;
				font-size: 12px;
				padding: 5px 10px;
				margin-right: 15px;
				font-family: var(--font-oswald);

				&.btn-red {
					color: var(--color-red);
					border-color: var(--color-red);

					&:hover {
						background-color: var(--color-red);
						color: #fff;
					}
				}

				@include transition();

				&:hover {
					border-color: var(--color-red);
					color:  var(--color-red);
				}
			}
		}

		&__text {
			font-family: var(--font-roboto);
			border-bottom: 1px solid rgba(0,0,0,.25);

			h4 {
				font-weight: 400;
				font-size: 25px;
				line-height: 37px;
				color: #272727;
				font-family: var(--font-oswald);
				margin-bottom: 15px;
				margin-top: 0;
			}

			ul, li, a, p, span {
				font-family: var(--font-roboto);
			}

			> span {
				display: block;
				margin-bottom: 10px;
			}

			ul {
				list-style-type: disc;
    			padding-left: 12px;
				margin-bottom: 25px;

				li {
					margin-bottom: 10px;
				}
			}
		}
	}
}

.audio-list {
	.article-audio {
		padding-top: 30px;
		
		&__info {
			p {
				margin-top: 10px;
				margin-bottom: 30px;
			}
		}

		&__player {
			margin-top: 15px;
		}
	}
}