$mobile: 640px;
$tablet: 768px;
$wide: 992px;
$laptop: 1100px;
$desktop: 1320px;

:root {
    --color-default: #272727;
    --color-red: #C92140;
    
    --font-oswald: 'Oswald';
    --font-roboto: 'Roboto';

    --size-default: 14px;
    --size-normal: 16px;
    --size-big: 18px;
}